{% extends "user_profile/home-base.html" %}
{% load static %}

{% block title %}
معرفی تیم اسکورایز | داستان ما
{% endblock %}

{% block style %}
    <link href="{% static 'user_profile/aboutus-style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}


    <br>
<div class="container-fluid">
<div class="row" style=" background-color: rgb(149,23,104); color: white; ">
    <br>
    <h1 class="text-center" style="font-family: 'Rouge Script';font-size: 50px ">Scorize</h1>
    <div class="jumbotron text-center" style="direction: rtl; background: none; padding: 1rem ">
        <h1 class="center-block" style=" width:50%; border: 3px solid white; border-radius: 10px">داستان ما</h1>
        <img data-anijs="if: scroll, on: window, do: zoomIn animated, before: $scrollReveal repeat" style="padding-top: 5rem" src="{% static "user_profile/teamwork.png" %}">
    </div>

    <br>
    <br>

</div>
<br>
<br>

<div class="container">
    <h1 class="text-center">داستان ما</h1>
    <hr>
    <p style="direction: rtl">سایت اسکورایز توسط تیمی از دانشجویان دانشگاه صنعتی شریف در جهت ارتقای سطح زبان دانشجویان متقاضی در شرکت در آزمون های بین المللی ایجاد شده. هدفمون از ایجاد این سایت این بود که دانشجویان رو راهنمایی کنیم که چی باید بخونن و در روزهای منتهی به آزمون آمادگی دانشجوها رو بسنجیم و بهشون کمک کنیم تا به نمره ایده آل شون برسن. چشم اندازمون اینه که وقتی یه نفر بخواد تافل یا هر آزمون بین المللی دیگه ای مثل آیلتس یا جی آر ای بده این سایت براش کافی باشه از اطلاعات و کتاب و مرجع گرفته تا آزمون آمادگی و ثبت نام همچنین حتی بعد از امتحان راهی بشه برای پول در آوردن </p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}
