{% extends "user_profile/home-base.html" %}
{% load static %}

{% block title %}
 about english learning Co
{% endblock %}

{% block style %}
    <link href="{% static 'user_profile/aboutus-style.css.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}


    <br>
<div class="container-fluid">
<div class="row" style=" background-color: rgb(149,23,104); color: white; ">
    <br>
    <h1 class="text-center" style="font-family: 'Rouge Script';font-size: 50px ">Lang Cruz</h1>
    <div class="jumbotron text-center" style="direction: rtl; background: none; padding: 1rem ">
        <h1 class="center-block" style=" width:50%; border: 3px solid white; border-radius: 10px">در باره ما</h1>
    </div>
    <div class="text-center">
        <h2>یک آزمون را دوبار تکرار نکنید</h2>
    </div>

    <br>
    <br>

</div>
<br>
<br>

<div class="container">
    <h1 class="text-center">داستان ما</h1>
    <hr>
    <p style="direction: rtl">داستان از اونجا شروع شد که سال چارم دانشگاه شد و همهی بچه ها درگیر تافل و اپلای شدن، علی الخصوص دانشگاه ما شریف که سردم دار این کاراست خلاصه همون موقعه ها بود که فهمیدیم چقدر فرایند نا واضح اصلا نمیدونستیم باید چی بخونیم و چی کار کنیم تنها راه فهمیدن هم سوال کردن از بقیه بچه ها بود که قبلا آزمون داده بود همچین باد به قبقبشون مینداختن انگار خودشون طراح سوالات آزمون اند که عموما خودشون هم نمی دونست اصلا چی کار کردن با هزار بدبختی فهمیدیم چی باس بخونیم و خوندیم رسیدیم به نزدیک های آزمون ولی حالا کسی نبود بگه خوب الان دیگه اماده ای یا بگه هنوز هم تا نمره ایده آل فاصله داریم، از همون موقعه بود به فکر یه سایتی افتادیم که وقتی یه نفر بخواد تافل یا هر ازمون بین المللی بده این سایت براش کافی باشه از اطلاعات و کتاب و مرجع تا آزمون آمادگی و ثبت نام و حتی بعد از امتحان، پول در آوردن </p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}
