{% extends "user_profile/tempa.html" %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="تافل,TOEFL, برنامه مطالعاتی تافل, تافل 120, تافل صد و بیست">
    <meta name="description" content="برنامه مطالعاتی آزمون تافل | تافل 120 - چگونه و از چه منابعی بخوانیم تا در تافل موفق شویم؟">
{% endblock %}

{% block title %}
برنامه مطالعاتی موفقیت در آزمون تافل | تافل 120
{% endblock %}


{% block image %}
{% static 'user_profile/test.png' %}
{% endblock %}


{% block heading %}
موفقیت در آزمون تافل با استفاده از برنامه مطالعاتی "تافل 120"
{% endblock %}
{% block matn1 %}
<h2>
        اگر قبلا انگلیسی کار کرده اید و میخواهید در آزمون بهترین نتیجه رو کسب کنید
    </h2>
        <h2>این برنامه برای شما طراحی شده</h2>
    <br>
        <h2>برنامه مطالعاتی تافل 120 فقط برای اعضای سایت و به صورت کاملا رایگان</h2>
    <br>
    <br>
    <br>
    <a class="btn btn-info" style="font-size: large" href="{% url 'user_profile:register' %}">میخواهم برنامه تافل 120 رو دریافت کنم</a>
    <br>
{% endblock %}