{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} </title>

{#    <link type="text/css" rel="stylesheet" href="http://ifont.ir/apicode/38">#}
    <link href="{% static 'user_profile/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static 'user_profile/ico.png' %}" sizes="16*16">
     <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet">
    <script src="{% static 'user_profile/jquery-3.1.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'user_profile/bootstrap.js' %}" type="text/javascript"></script>
    {% block head %}{% endblock %}
    <style>
        @font-face {
        font-family: 'IRANSans';
        src: url('{% static 'font/IRANSans.ttf' %}') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
        body{
            font-family: 'IRANSans', tahoma;
        }
        .navbar-header{
            font-family: 'Rouge Script', cursive;
            font-weight: 600;

        }
        .navbar-brand{
            font-size: 30px;
        }
        .navbar-default{
            background-color: white;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style=" border-bottom-color: rgb(149,23,104)">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home" %}">Scorize</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="Main">
            <ul class="nav navbar-nav">
                <li class="pf" ><a href="{% url 'user_profile:index' %} " >{% block nav %}{% endblock %}<span class="sr-only">(current)</span></a></li>
                <li class="newwrt"><a href="{% url 'user_profile:NewWriting' %}">نوشتن متن جدید</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">خدمات <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user_profile:exam' %}"> آزمون آزمایشی اینترنتی</a></li>
                        <li><a href="{% url 'user_profile:speaking' %}">ضبط speaking</a></li>
                        <li><a href="{% url 'user_profile:NewWriting' %}">ثبت writing</a></li>
                        <li><a href="{% url 'user_profile:moshavere' %}">مشاوره</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'service' %}">نکات آزمون تافل</a></li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">اعتبار شما : {% block cre %}{% endblock %}متن <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user_profile:credit' %}"> افزایش اعتبار</a></li>
                    </ul>
                </li>


            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown setting">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">تنظیمات<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user_profile:edit' %}"> ویرایش اطلاعات</a> </li>
                        <li><a href="{% url 'user_profile:ChangePassword' %}">تغییر گذرواژه</a> </li>
                    </ul>
                </li>
                <li><a href="{% url 'user_profile:logout' %}">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<br>
<br>
<br>
{% block content %}
{% endblock %}

<script>
    $(document).ready(function(){
        $('{% block activeClass %}{% endblock %}').addClass('active');

    persian={0:'۰',1:'۱',2:'۲',3:'۳',4:'۴',5:'۵',6:'۶',7:'۷',8:'۸',9:'۹'};
	function traverse(el){
		if(el.nodeType==3){
			var list=el.data.match(/[0-9]/g);
			if(list!=null && list.length!=0){
				for(var i=0;i<list.length;i++)
					el.data=el.data.replace(list[i],persian[list[i]]);
			}
		}
		for(var i=0;i<el.childNodes.length;i++){
			traverse(el.childNodes[i]);
		}
	}
    traverse(document.body);
    })
</script>

</body>
</html>