{% extends 'user_profile/base.html' %}
{% block title %}بزودی{% endblock%}
{% block nav %}
    {{ user.first_name }}
{% endblock %}
{% block head %}
     <style>
        body{
            background-color: rgb(149,23,104);
            font-family: "B Yekan";
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container" >
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" style="border: 2px solid white">
        <h1 style="color: white;font-family: 'Rouge Script', cursive " >Scorize</h1>
        <h1 style="color: white;" >Comming Soon</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{%  endblock %}