{#{% extends "user_profile/base.html" %}#}
{#{% load static %}#}
{##}
{#{% block title %}#}
{#    Increase your Credit#}
{#{% endblock %}#}
{##}
{#{% block nav %}#}
{#    {{ request.user }}#}
{#{% endblock %}#}
{##}
{#{% block cre %}#}
{#    {{ user.credit.wallet }}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container-fluid">#}
{#    <h3>افزایش اعتبار</h3>#}
{##}
{#    <form class="form-horizontal" action="" method="post">#}
{#        {% csrf_token %}#}
{#        <div class="form-group">#}
{#        <label for="id_title" class="col-sm-2 col-sm-offset-2 control-label">مبلغ مورد نظر خود را انتخاب کنید :</label>#}
{#            <br>#}
{#            <br>#}
{#            {% for field in form %}#}
{#            <div class="radio col-lg-offset-3">#}
{#              {{ field }}#}
{#            </div>#}
{##}
{#        </div>#}
{#        {% endfor %}#}
{#        <div class="form-group">#}
{#        <div class="col-sm-offset-3 col-sm-10">#}
{#          <button type="submit" class="btn btn-success">افزایش اعتبار</button>#}
{#        </div>#}
{#        </div>#}
{#    </form>#}
{##}
{#</div>#}
{##}
{#{% endblock %}#}



{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello</h1>

<form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-signin-heading" style="color: rgb(149,23,104)">ورود</h2>
        {% for field in form %}


                <div class="">{{ field }}</div>
        {% endfor %}

        <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: rgb(149,23,104)">Login</button>
    </form>
</body>
</html>