{% extends 'user_profile/home-base.html' %}

{% block title %}  دریافت لینک فعال سازی {% endblock %}

{%  block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" style="margin-bottom:155px ">
        <p style="font-size: 20px; direction: rtl">آدرس فعال سازی و تایید ایمیل شما به آدرسی که ثبت کرده اید فرستاده شد.</p>
        <p style="font-size: 20px; direction: rtl">در صورتی که ایمیلی از طرف ما مشاهده نمی کنید ایمیل خود را در تنظیمات تصحیح کنید و یا پوشه اسپم را نیز چک کنید.</p>
    </div>
<br>
<br>
<br>
<br>
<br>

{%  endblock %}