{% extends "user_profile/home-base.html" %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="همایش اپلای 2018,apply, how to apply, دانشگاه صنعتی شریف,شریف">
    <meta name="description" content="ثبت نام در همایش فرصت های تحصیل در خارج از کشور">
{% endblock %}

{% block title %}
{{ event.description}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="" type="text/css">

{% endblock %}
{% block content %}
    <div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
     <div class="col-lg-6 ">
         <form class="form-signin text-center" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-signin-heading" style="color: rgb(149,23,104)">فرم ثبت نام در رویداد</h2>
<br>
        {% for field in form %}
                <span>{{ field.errors }}</span>
                <label style="color: rgb(149,23,104)">{{ field.label_tag }}</label>
                <div class="">{{ field }}</div>
        {% endfor %}
<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: rgb(149,23,104); width: 25rem; margin: auto">ثبت و پرداخت هزینه</button>
    </form>
</div>
     <div class="col-lg-6 table-responsive">
         <table class="table table-hover table-bordered text-center" style="direction: rtl">
             <thead>
             <tr>
                 <th class="text-center" colspan="2" style="direction: rtl">مشخصات رویداد</th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td>عنوان رویداد</td>
                 <td>{{ event.name }}</td>
             </tr>
             <tr>
                 <td>مکان برگزاری</td>
                 <td>{{ event.location}}</td>
             </tr>
             <tr>
                 <td>تاریخ برگزاری</td>
                 <td>{{ event.date}}</td>
             </tr>
             <tr>
                 <td>مقدار سرمایه گذاری شما</td>
                 <td>{{ event.expense}}</td>
             </tr>
             <tr>
                 <td>توضیحات بیشتر</td>
                 <td>{{ event.description}}</td>
             </tr>
             </tbody>
         </table>
     </div>
    </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}