{% extends "user_profile/home-base.html" %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="همایش اپلای 2018,apply, how to apply, دانشگاه صنعتی شریف,شریف">
    <meta name="description" content="ثبت نام در همایش فرصت های تحصیل در خارج از کشور">
{% endblock %}

{% block title %}
{{ event.description}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="" type="text/css">

{% endblock %}
{% block content %}
    <div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
     <div class="col-lg-6 ">
         <form style="direction: rtl" class=" text-center form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-signin-heading" style="color: rgb(149,23,104)">فرم ثبت نام در رویداد</h2>
<br>
    <div class="form-group">
    <div class="col-sm-6">
      <input class="form-control" id="id_name" name="name" placeholder="نام">
    </div>
    <label for="id_name" class="col-sm-2 control-label">نام</label>
    </div>
    <div class="form-group">
    <div class="col-sm-6">
      <input type="email" class="form-control" id="id_email" name="email" placeholder="ایمیل">
    </div>
      <label for="id_email" class="col-sm-2 control-label">ایمیل</label>
    </div>
    <div class="form-group">
    <div class="col-sm-6">
      <input class="form-control" id="id_mobile" name="mobile" placeholder="موبایل">
    </div>
     <label for="id_mobile" class="col-sm-2 control-label">شماره تلفن</label>
    </div>
    <div class="form-group">
    <div class="col-sm-6">
      <select class="form-control" id="id_university" name="university">
          <option value="" selected>نام دانشگاه شما</option>
          <option>دانشگاه صنعتی شریف</option>
          <option>دانشگاه تهران</option>
          <option>دانشگاه صنعتی امیرکبیر</option>
          <option>سایر</option>
      </select>
      <label for="id_university" class="col-sm-2 control-label">دانشگاه محل تحصیل</label>
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-6">
      <select class="form-control" id="id_grade" name="grade" >
          <option value="" selected>مقطع تحصیلی شما</option>
          <option>کارشناسی</option>
          <option>کارشناسی ارشد</option>
          <option>دکتری</option>
      </select>
            <label for="id_grade" class="col-sm-2 control-label">مقطع تحصیلی</label>
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-6">
      <input class="form-control" id="id_major" name="major">
    </div>
            <label for="id_major" class="col-sm-2 control-label">رشته تحصیلی</label>
    </div>
<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: rgb(149,23,104); width: 25rem; margin: auto">ثبت و پرداخت هزینه</button>
    </form>
</div>
     <div class="col-lg-6 table-responsive">
         <br>
         <table class="table table-hover table-bordered text-center" style="direction: rtl">
             <thead>
             <tr>
                 <th class="text-center" colspan="2" style="direction: rtl">مشخصات رویداد</th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td>عنوان رویداد</td>
                 <td>{{ event.name }}</td>
             </tr>
             <tr>
                 <td>مکان برگزاری</td>
                 <td>{{ event.location}}</td>
             </tr>
             <tr>
                 <td>تاریخ برگزاری</td>
                 <td>{{ event.date}}</td>
             </tr>
             <tr>
                 <td>مقدار سرمایه گذاری شما</td>
                 <td>{{ event.expense}} تومان</td>
             </tr>
             <tr>
                 <td>توضیحات بیشتر</td>
                 <td>{{ event.description}}</td>
             </tr>
             </tbody>
         </table>
     </div>
    </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}