{% extends "user_profile/home-base.html" %}
{% load static %}

{% block title %}
 Scorize | اسکورایز
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'user_profile/homestyle.css' %}" type="text/css">
    <script src="{% static 'user_profile/typed.js' %}"></script>

{% endblock %}
{% block content %}
    <div class="container-fluid">
{#    pink section#}
    <div class="row" style=" background-color: rgb(149,23,104); color: white; ">
        <h1 class="text-center" style="font-family: 'Rouge Script';font-size: 50px ">Scorize</h1>
        <br>
{#        <div class="jumbotron text-center" style="direction: rtl; background: none; padding: 1rem ">#}
{#            <h1 class="center-block" style=" width:50%; border: 3px solid white; border-radius: 10px">آمادگی آزمون های زبان</h1>#}
{#        </div>#}
{#        <div class="text-center">#}
{#            <h2>یک آزمون را دوبار تکرار نکنید</h2>#}
{#        </div>#}

        {#        neveshte hayi ke type mishan miran#}
        <div id="typed-strings">
            <h1>آیا میخواهید زبان را به بهترین</h1>
            <h1>آیا دوست دارید خودتان را بیشتر بسنجید</h1>
            <h1>آیا می خواهید پیشرفتتان را نمودار کنید</h1>
            <h1>همین حالا رایگان تست کنید</h1>
            <h1 class="hidden">آزمون تافل و جی آر ای و آموزش زبان انگیلیسی</h1>
        </div>
{#         mahale namayesh#}
         <div class="text-center">
            <span id="typed" style="white-space:pre; font-size: 40px"></span>
         </div>
        <br>
        <br>


        <div class="text-center">
        <a href="{% url 'user_profile:login' %}" class="btn btn-outline-inverse btn-lg " role="button">ورود</a>
        <a href="{% url 'user_profile:register' %}" class="btn btn-outline-inverse btn-lg " role="button">تست رایگان</a>
        </div>

        <div class="totop">
          <i class="arrow">
            <span class="spani"></span>
          </i>
        </div>

    </div>

    <br>
    <br>
    <br class="up">
    <br>
    <br>

{#    picture of toefl and others#}

            <div class="row">
              <div class="col-md-4 text-center">
                <img alt="GRE , جی آر ای ,exam , learning, آزمون" src="{% static 'user_profile/gre1.jpg' %}">
              </div>
              <div class="col-md-4 text-center">
                <img alt="toefl , تافل ,exam , learning, آزمون" src="{% static 'user_profile/ets.jpg' %}">
              </div>
              <div class="col-md-4 text-center">
                <img alt="ielts , آیلتس ,exam , learning, آزمون" src="{% static 'user_profile/toefl1.jpg' %}">
              </div>
            </div>
<hr>
    <br>
    <br>
    <br>



<div class="row" style="">

{#sliiide show#}
    <div class="col-lg-6">
    <script src="{% static 'user_profile/jssor.slider.min.js' %}" type="text/javascript" data-library="jssor.slider" data-version="22.0.15"></script>
<script type="text/javascript">
    jssor_1_slider_init = function() {

        var jssor_1_SlideoTransitions = [
            [{b:-1,d:1,i:100}],
            [{b:0,d:2000,x:537}],
            [{b:2000,d:2000,x:-499}],
            [{b:4000,d:2000,x:537}],
            [{b:6000,d:2000,x:-499}]
        ];

        var jssor_1_options = {
            $AutoPlay: true,
            $Idle: 1000,
            $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
    };
</script>
<style></style>
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 500px; height: 450px; overflow: hidden; visibility: hidden;">
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 500px; height: 450px; overflow: hidden;">
        <!--<img data-u="add" title="Jssor Slider" style="display:block;position:absolute;top:0;right:0;width:16px;height:16px;z-index:1000;" src="" />-->
        <a data-u="any" href="http://www.jssor.com/meehraaad/mehradslide.slider" style="display:none">jQuery Slider</a>
        <div data-p="118.75">
            <img data-u="caption" data-t="0" style="position:absolute;top:0px;left:0px;width:500px;height:450px;z-index:0;" src="{% static 'user_profile/imac3.png' %}" />
            <img style="position:absolute;top:22px;left:19px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss5.jpg' %}" />
            <img data-u="caption" data-t="1" style="position:absolute;top:22px;left:-518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss1.jpg' %}" />
            <img data-u="caption" data-t="2" style="position:absolute;top:22px;left:518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss2.jpg' %}" />
            <img data-u="caption" data-t="3" style="position:absolute;top:22px;left:-518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss3.jpg' %}" />
            <img data-u="caption" data-t="4" style="position:absolute;top:22px;left:518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss4.jpg' %}" />
        </div>
    </div>
</div>
<script type="text/javascript">jssor_1_slider_init();</script>
<!-- #endregion Jssor Slider End -->

</div>

     <!--who we are section-->
    <div class="col-lg-6">
        <div class="[ text-center ]">
        <div class="text-xenter">
            <h1>Who We Are</h1>
            <p><mark style="background: none; color: rgb(149,23,104); font-size: xx-large ">جامع ترین</mark> مرکز خدمات آمادگی آزمون های بین المللی زبان انگلیسی</p>
        </div>
        <div class="[ row ]">
            <div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
                <div class="[ col-xs-4 col-sm-12 ]">
                    <!-- Nav tabs -->
                    <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">
                                <img class="img-circle" alt="مرکز خدمات آمادگی آزمون های بین المللی زبان انگلیسی تافل" src="{% static 'user_profile/manage(pink).jpg' %}" style="box-shadow: rgb(149,23,104); width: 100px; max-width: 80px" />
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#chart" aria-controls="chart" role="tab" data-toggle="tab" >
                                <img class="img-circle"  alt="ثبت نام آزمون تافل"  src="{% static 'user_profile/site.jpg' %}" style="box-shadow: rgb(149,23,104); border-color: rgb(149,23,104); max-width: 80px" />
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#writing" aria-controls="writing" role="tab" data-toggle="tab">
                                <img class="img-circle" alt="برنامه ریزی آزمون تافل رایتینگ" src="{% static 'user_profile/writing.jpg' %}" style="box-shadow: rgb(149,23,104); border-color: rgb(149,23,104); max-width: 80px" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="[ col-xs-8 col-sm-12 ]">
                    <!-- Tab panes -->
                    <div class="tab-content" id="tabs-collapse">
                        <div role="tabpanel" class="tab-pane fade in active" id="schedule">
                            <div class="tab-inner">
                                <p class="lead">
                                    برنامه ریزی هشت هفته ای برای موفقیت در آزمون تافل<br>
                                    معرفی منابع
                                    یادگیری تکنیک های هر 4 مهارت
                                    زمان بندی مناسب.</p>
                                <hr>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="chart">
                            <div class="tab-inner">
                                <p class="lead">بررسی پیشرفت تحصیلی</p>
                                <br>
                                <hr>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="writing">
                            <div class="tab-inner">
                                <p class="lead" style="direction: rtl">
                                    تصحیح و نمره دهی متن های Writing و پاسخ های Speaking<br>
                                    در کوتاه ترین زمان و منطبق با استانداردهای سازمان ETS</p>
                                <hr>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>


<br>
<br>
<br>
    <!--quotations section-->
    <div class="container-fluid">
    <div class="row text-center" style=" background-color: rgb(149,23,104); color: white; ">
        <h1><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i> Study Smart, Not Hard</h1>
        <p>-someone we know</p>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



  <!--question and answer section    -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card" >
                        <div class="face front">
                            <div class="well well-sm inner" id="green" style="font-size: 20px">چه نیازی هست که متن ها تصحیح بشن؟</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer">نوشتن و صحبت کردن آکادمیک، درست مثل رانندگی یک مهارته! برای تقویت یک مهارت باید تمرین و تلاش کنید و در طول مسیر از کسی که مسیر رو با موفقیت رفته کمک بگیرید تا راهنمایی تون کنه</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner" id="yellow" style="font-size: 20px">چه کسانی متن های شما رو تصحیح می کنند؟<br>
                            آیا نمره ای که اعلام میشه قابل اعتماده؟</div>
                        </div>

                        <div class="face back">
                            <div class="well well-sm outer">افرادی که سال ها تجربه موفق در تدریس زبان دارند
                            <br> افرادی که در آزمون اصلی نمره بیش از 100 رو کسب کرده اند
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner" id="blue" style="font-size: 20px">چرا باید به ما اعتماد کنید؟</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer">چون میدونیم طبق چه استانداردی باید تصحیح بشه
                            <br>ارزان اما با کیفیت
                            <br>سریع اما دقیق
                            <br>اشتباهات متداول داوطلبان میدونیم کجاس
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner" id="red" style="font-size: 20px">بجز تصحیح چیکار می کنیم؟</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer">یه سیستم قوی مشاوره ای داریم
                            <br>برنامه ریزی تحصیلی مدون
                            <br>معرفی منابع و معرفی روش ها
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
{#    Frequesntly Asked Question#}
    <div class="container">
    <div class="row" style="border: 3px solid #dfb9d2; border-radius:5px ">
    <div class="text-center">
        <h2 style="direction: rtl">آیا میخواید در آزمون تافل شرکت کنید؟</h2>
        <p style="direction: rtl; font-size: 20px"> تمام سوالات متداول تون رو تو این قسمت جواب دادیم! حتما توصیه میکنیم یه نگاهی بندازید. شاید سوال شما هم اینجا باشد!</p>
        <br>
        <a class="btn btn-pink" style="width: 32rem ; border-radius: 50px; padding: 15px; font-size: 30px" href="{% url 'faq' %}">سوالات متداول تافلی ها</a>
        <br>
        <br>
    </div>
    </div>
    </div>

    <br>
{#    moarefie page dovom#}
    <div class="container">
    <div class="row" style="border: 3px solid #dfb9d2; border-radius:5px ">
    <div class="text-center">
        <h2 style="direction: rtl">قبل از شروع، حتی شروع درس خواندن حتما ...</h2>
        <p style="direction: rtl; font-size: 20px">یک مقاله خیلی خیلی کوتاه و کامل، تا تمامه آنچه قبل از شروع به خواندن تا سر جلسه آزمون را باید بدانید در آن آورده ایم</p>
        <br>
        <a class="btn btn-pink" style="width: 29rem ; border-radius: 50px; padding: 15px; font-size: 30px" href="{% url 'service' %}">هر آنچه باید بدانید</a>
        <br>
        <br>
    </div>
    </div>
    </div>

    <br>
{#    8-week schedule#}
    <div class="container">
    <div class="row" style="border: 3px solid #dfb9d2; border-radius:5px ">
    <div class="text-center">
        <h2 style="direction: rtl">برنامه هشت هفته ای مطالعاتی تافل</h2>
        <p style="direction: rtl; font-size: 20px">چطور زمان بندی کنیم تا در هشت هفته برای تافل آماده شویم؟ تمرین های لازم چیه؟</p>
        <br>
        <a class="btn btn-pink" style="width: 29rem ; border-radius: 50px; padding: 15px; font-size: 30px" href="#">برنامه مطالعاتی تافل</a>
        <br>
        <br>
    </div>
    </div>
    </div>
 <br>

    <br>
    <br>
    <br>
    <br>



</div>
<script type="text/javascript" rel="script" src="{% static 'user_profile/homescript.js' %}"></script>
{% endblock %}