{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link href="bootstrap.css" rel="stylesheet" type="text/css">-->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static 'user_profile/bootstrap.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="http://ifont.ir/apicode/38">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet">
    <link href="{% static 'user_profile/home-base-style.css' %}" rel="stylesheet">

    {% block style %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0; border-bottom-color: rgb(149,23,104)">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#Main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Rouge Script', cursive; color:rgb(149,23,104) " href="{% url 'home' %}">Lang Crusier</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-left" id="Main" >
            <ul class="nav navbar-nav">

                <li><a href="{% url 'user_profile:login' %}">ورود</a></li>
                <li><a href="{% url 'user_profile:register' %}">ثبت نام</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
{% block content %}{% endblock %}






<div class=" panel-footer"  style="background-color: #efeeee">
        <div class="row">
            <ul class="col-md-6 float-left">
                <li><a href="#" class="btnlink">تماس</a></li>
                <li><a href="{% url 'aboutus' %}" class="btnlink">داستان ما</a></li>
                <li><br></li>
                <li><br></li>
                <li ><a href="https://telegram.me/lang_cruz" class="footerbtn" ><i id="social-fb" class="glyphicon glyphicon-send fa-2x social" ></i></a>
                    <a href="https://www.instagram.com/lang_cruz" class="footerbtn"><i id="social-ins" class="fa fa-instagram fa-2x social"></i></a>
                    <a href="mailto:info@langcruz.com" class="footerbtn"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
                </li>
            </ul>
            <ul class="col-md-5 float-right" style="direction: rtl">
                <li style="margin-bottom: 0.5rem">
                    <a class="btn btn-info btnfooter"  href="{% url 'user_profile:login' %} ">ورود</a></li>
                <li>
                    <a class="btn btn-info btnfooter "  href="{% url 'user_profile:register' %} ">ثبت نام</a></li>
            </ul>
        </div>
        <div>
            <br>
            <p class="small" style="margin-bottom: 0; padding-bottom: 0; color: #8f9eaf">© 2016 LangCruz, Inc.</p>
        </div>
    </div>

    </footer>

</body>
</html>