{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link href="bootstrap.css" rel="stylesheet" type="text/css">-->
    <title>Lang Cruz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script><script src="bootstrap.js"></script>
    <link type="text/css" rel="stylesheet" href="http://ifont.ir/apicode/38">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet">
    <!--<link rel="stylesheet" href="s.css" type="text/css">-->
    <link rel="stylesheet" href="{% static 'user_profile/homestyle.css'%}" type="text/css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0; border-bottom-color: rgb(149,23,104)">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#Main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Rouge Script', cursive" href="#">Lang Crusier</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="Main" >
            <ul class="nav navbar-nav">

                <li><a href="{% url 'user_profile:login' %}">ورود</a></li>
                <li><a href="{% url 'user_profile:register' %}">ثبت نام</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid">
    <div class="row" style=" background-color: rgb(149,23,104); color: white; ">
        <h1 class="text-center" style="font-family: 'Rouge Script';font-size: 50px ">Lang Cruz</h1>
        <div class="jumbotron text-center" style="direction: rtl; background: none; padding: 1rem ">
            <h1 class="center-block" style=" width:50%; border: 3px solid white; border-radius: 10px">آمادگی آزمون های زبان</h1>
        </div>
        <div class="text-center">
            <h2>جامع ترین مرکز آمادگی آزمون های بین المللی زبان انگلیسی</h2>
        </div>
        <div class="text-center">
        <a href="{% url 'user_profile:login' %}" class="btn btn-outline-inverse btn-lg " role="button">Login</a>
        <a href="{% url 'user_profile:register' %}" class="btn btn-outline-inverse btn-lg " role="button">Register</a>
        </div>
        <br>
        <br>
        <br>
    </div>

    <br>
    <br>


    <div class="[ container text-center ]">

        <div class="[ row ]">
            <div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
                <div class="[ col-xs-4 col-sm-12 ]">
                    <!-- Nav tabs -->
                    <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">
                                <img class="img-circle" src="{% static 'user_profile/manage(pink).jpg'%}" style="box-shadow: rgb(149,23,104)" />
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#chart" aria-controls="chart" role="tab" data-toggle="tab" >
                                <img class="img-circle" src="{% static 'user_profile/site.jpg'%}" style="box-shadow: rgb(149,23,104)" />
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#writing" aria-controls="writing" role="tab" data-toggle="tab">
                                <img class="img-circle" src="{% static 'user_profile/writing.jpg'%}" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="[ col-xs-8 col-sm-12 ]">
                    <!-- Tab panes -->
                    <div class="tab-content" id="tabs-collapse">
                        <div role="tabpanel" class="tab-pane fade in active" id="schedule">
                            <div class="tab-inner">
                                <p class="lead">
                                    برنامه ریزی هشت هفته ای برای موفقیت در آزمون تافل<br>
                                    معرفی منابع
                                    یادگیری تکنیک های هر 4 مهارت
                                    زمان بندی مناسب.</p>
                                <hr>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="chart">
                            <div class="tab-inner">
                                <p class="lead">بررسی پیشرفت تحصیلی</p>
                                <hr>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="writing">
                            <div class="tab-inner">
                                <p class="lead">
                                    تصحیح و نمره دهی متن های Writing و پاسخ های Speaking<br>
                                    در کوتاه ترین زمان و منطبق با استانداردهای سازمان ETS</p>
                                <hr>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner"> برنامه ریزی هشت هفته ای برای موفقیت در آزمون تافل<br>
                                معرفی منابع
                                یادگیری تکنیک های هر 4 مهارت
                                زمان بندی مناسب.</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer"> Back</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner"> Front</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer"> Back</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner"> Front</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer"> Back</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner"> Front</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer"> Back</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<ul class="social">
    <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
    <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
    <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
    <li> <a href="https://www.instagram.com/lang_cruz/"> <i class="fa fa-instagram">   </i> </a> </li>
    <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
</ul>
<script type="text/javascript" rel="script" src="{% static 'user_profile/homescript.js' %}"></script>

</body>
</html>