{% extends "user_profile/home-base.html" %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="برنامه مطالعاتی تافل, تافل, جی آر ای, GRE, TOEFL, برنامه هشت هفته ای, مکالمه, رایگان, تافل در هشت هفته, چگونه تافل بخوانیم؟, چگونه برای تافل بخوانیم؟, روش خوندن برای تافل, بهترین منابع آزمون تافل, تافل iBT, برنامه ریزی برای گرفتن تافل, مشاوره">
    <meta name="description" content="اسکورایز: وب سایت ارائه برنامه مطالعاتی هشت هفته ای رایگان برای آمادگی شرکت در آزمون تافل iBT و خدمات مشاوره و تصحیح">
{% endblock %}

{% block title %}
 Scorize | آمادگی شرکت در آزمون تافل و جی آر ای | برنامه مطالعاتی رایگان
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'user_profile/homestyle.css' %}" type="text/css">

{% endblock %}
{% block content %}
    <div class="container-fluid">
{#    pink section#}
    <div class="row" style=" background-color: rgb(149,23,104); color: white; ">
        <h1 class="text-center" data-anijs="if: mouseover, do: bounce animated" style="font-family: 'Rouge Script';font-size: 50px ">Scorize</h1>
<br>
        <br>
{#        <div class="jumbotron text-center" style="direction: rtl; background: none; padding: 1rem ">#}
{#            <h1 class="center-block" style=" width:50%; border: 3px solid white; border-radius: 10px">آمادگی آزمون های زبان</h1>#}
{#        </div>#}
{#        <div class="text-center">#}
{#            <h2>یک آزمون را دوبار تکرار نکنید</h2>#}
{#        </div>#}

        {#        neveshte hayi ke type mishan miran#}
        <div class="text-center" style="font-size: 30px;">
            <h1> به وب سایت گروه آموزشی اسکورایز خوش آمدید</h1>
            <br>
            <h2>برای آنها که می خواهند<span class="first"></span></h2>
        </div>
{#         mahale namayesh#}

<br>
<br>
        <div class="text-center">
        <div data-anijs="if: mouseover, do: bounce animated, to: #airplane" class="btn btn-outline-inverse btn-lg paeen">میخواهم در آزمون های بین المللی شرکت کنم</div>
        <div data-anijs="if: mouseover, do: bounce animated, to: #chat" class="btn btn-outline-inverse btn-lg " data-toggle="modal" data-target="#free" role="button"> میخواهم در دوره رایگان مکالمه شرکت کنم</div>
        </div>
        <br>
        <div class="row container">
            <div class="col-lg-2 col-lg-offset-4" style="padding-right: 25rem">
                <img id="airplane"  data-anijs="if: mouseover, do: rubberBand animated" src="{% static 'user_profile/airplane.png' %}" width="100px">
            </div>

        <div class="totop col-lg-2">
          <i class="arrow">
            <span class="spani"></span>
          </i>
        </div>
            <div class="col-lg-3" style="padding-left: 15rem">
                <img id="chat" data-anijs="if: mouseover, do: tada animated" src="{% static 'user_profile/chat.png' %}" width="100px">
            </div>
        </div>
    </div>

    <br>
    <br>
    <br class="up">
    <br>
    <br>

{#    picture of toefl and others#}

            <div class="row" data-anijs="if: scroll, on: window, do: zoomIn animated, before: $scrollReveal repeat">
              <div class="col-md-4 text-center" >
                <img alt="GRE , جی آر ای ,exam , learning, آزمون" src="{% static 'user_profile/gre1.jpg' %}">
              </div>
              <div class="col-md-4 text-center">
                <img alt="toefl , تافل ,exam , learning, آزمون" src="{% static 'user_profile/ets.jpg' %}">
              </div>
              <div class="col-md-4 text-center">
                <img alt="ielts , آیلتس ,exam , learning, آزمون" src="{% static 'user_profile/toefl1.jpg' %}">
              </div>
            </div>
<hr>
    <br>
    <br>
    <br>



<div class="row" style="">

{#sliiide show#}
    <div class="col-lg-6">
    <script src="{% static 'user_profile/jssor.slider.min.js' %}" type="text/javascript" data-library="jssor.slider" data-version="22.0.15"></script>
<script type="text/javascript">
    jssor_1_slider_init = function() {

        var jssor_1_SlideoTransitions = [
            [{b:-1,d:1,i:100}],
            [{b:0,d:2000,x:537}],
            [{b:2000,d:2000,x:-499}],
            [{b:4000,d:2000,x:537}],
            [{b:6000,d:2000,x:-499}]
        ];

        var jssor_1_options = {
            $AutoPlay: true,
            $Idle: 1000,
            $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
    };
</script>

<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 500px; height: 450px; overflow: hidden; visibility: hidden;" data-anijs="if: scroll, on: window, do: slideInLeft animated, before: $scrollReveal">
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 500px; height: 450px; overflow: hidden;">
        <!--<img data-u="add" title="Jssor Slider" style="display:block;position:absolute;top:0;right:0;width:16px;height:16px;z-index:1000;" src="" />-->
        <a data-u="any" href="http://www.jssor.com/meehraaad/mehradslide.slider" style="display:none">jQuery Slider</a>
        <div data-p="118.75">
            <img data-u="caption" data-t="0" style="position:absolute;top:0px;left:0px;width:500px;height:450px;z-index:0;" src="{% static 'user_profile/imac3.png' %}" />
            <img style="position:absolute;top:22px;left:19px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss5.jpg' %}" />
            <img data-u="caption" data-t="1" style="position:absolute;top:22px;left:-518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss1.jpg' %}" />
            <img data-u="caption" data-t="2" style="position:absolute;top:22px;left:518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss2.jpg' %}" />
            <img data-u="caption" data-t="3" style="position:absolute;top:22px;left:-518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss3.jpg' %}" />
            <img data-u="caption" data-t="4" style="position:absolute;top:22px;left:518px;width:464px;height:297px;z-index:0;" src="{% static 'user_profile/ss4.jpg' %}" />
        </div>
    </div>
</div>
<script type="text/javascript">jssor_1_slider_init();</script>
<!-- #endregion Jssor Slider End -->

</div>

     <!--who we are section-->
    <div class="col-lg-6" data-anijs="if: scroll, on: window, do: slideInRight animated, before: $scrollReveal">
        <div class="[ text-center ]">
        <div class="text-xenter">
            <h2>در اسکورایز چیکار می کنیم؟</h2>
            <h4>ارائه خدمات آمادگی آزمون های بین المللی زبان انگلیسی</h4>
        </div>
        <div class="[ row ]">
            <div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-1 ]" role="tabpanel">
                <div class="[ col-xs-4 col-sm-12 ]">
                    <!-- Nav tabs -->
                    <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">
                                <img class="img-circle" alt="مرکز خدمات آمادگی آزمون های بین المللی زبان انگلیسی تافل" src="{% static 'user_profile/calendar (1).png' %}"  />
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#chart" aria-controls="chart" role="tab" data-toggle="tab" >
                                <img class="img-circle"  alt="ثبت نام آزمون تافل"  src="{% static 'user_profile/growth.png' %}"  />
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#writing" aria-controls="writing" role="tab" data-toggle="tab">
                                <img class="img-circle" alt="برنامه ریزی آزمون تافل رایتینگ" src="{% static 'user_profile/checklist.png' %}"  />
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="[ col-xs-8 col-sm-12 ]">
                    <!-- Tab panes -->
                    <div class="tab-content" id="tabs-collapse">
                        <div role="tabpanel" class="tab-pane fade in active" id="schedule">
                            <div class="tab-inner">
                                <ul style="color: black">
                                <li class="lead">برنامه ریزی هشت هفته ای برای موفقیت در آزمون تافل</li>
                                <li class="lead">معرفی منابع</li>
                                <li class="lead">آموزش تکنیک های هر 4 مهارت در زمان بندی مناسب</li>
                                    </ul>
                                <hr>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="chart">
                            <div class="tab-inner">
                                <p class="lead">بررسی وضعیت شما، مشاوره و کمک به پیشرفت نمرات شما</p>
                                <br>
                                <hr>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="writing">
                            <div class="tab-inner">
                                <p class="lead" style="direction: rtl">
                                    تصحیح و نمره دهی متن های Writing و پاسخ های Speaking<br>
                                    در کوتاه ترین زمان و منطبق با استانداردهای سازمان ETS</p>
                                <hr>
                            </div>
                        </div>


                    </div>
                </div>

        </div>
    </div>
    </div>
    </div>
</div>


<br>
<br>
<br>
    <!--quotations section-->
    <div class="container-fluid" data-anijs="if: scroll, on: window, do: fadeInUp animated, before: $scrollReveal">
    <div class="row text-center" style=" background-color: rgb(149,23,104); color: white; ">
        <h1 class="col-lg-8"><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i> Study Smart, Not Hard</h1>
        <img data-anijs="if: scroll, on: window, do: zoomIn animated, before: $scrollReveal repeat" style="padding-top: 5rem" src="{% static "user_profile/study.png" %}">
        <p>-someone we know</p>
    </div>
    </div>
    <br>
    <br>

    <br class="inja">
    <br>
    <br>
    <br>
{#    Frequesntly Asked Question#}
    <div class="container">
    <div class="row" style="border: 3px solid #dfb9d2; border-radius:5px " data-anijs="if: scroll, on: window, do: bounceIn animated, before: $scrollReveal repeat">
    <div class="text-center">
        <h2 style="direction: rtl">شما هم میخواهید در آزمون تافل شرکت کنید؟</h2>
        <p style="direction: rtl; font-size: 20px">حتما توصیه می کنیم یه نگاهی بندازید. شاید سوال شما هم اینجا باشد!</p>
        <a data-anijs="if: mouseover, do: swing animated" class="btn btn-pink" style="margin: auto;width: 32rem ; border-radius: 50px; padding: 15px; font-size: 30px" href="{% url 'faq' %}">سوالات متداول تافلی ها</a>
        <img style="padding-left: 15rem" data-anijs="if: scroll, on: window, do: slideInRight animated, before: $scrollReveal" src="{% static "user_profile/question.png" %}">
        <br>
        <br>
    </div>
    </div>
    </div>

    <br>
{#    moarefie page dovom#}
    <div class="container">
    <div class="row" style="border: 3px solid #dfb9d2; border-radius:5px ">
    <div class="text-center">
        <h2 style="direction: rtl">می خواهید بیشتر درباره آزمون تافل بدونید؟</h2>
        <p style="direction: rtl; font-size: 20px">تموم چیزی که قبل از شروع تا سر جلسه آزمون را باید بدانید رو آماده کردیم</p>
        <br>
        <img style="padding-right: 15rem" data-anijs="if: scroll, on: window, do: slideInLeft animated, before: $scrollReveal" src="{% static "user_profile/notes.png" %}">
        <a data-anijs="if: mouseover, do: swing animated" class="btn btn-pink" style="width: 29rem ; border-radius: 50px; padding: 15px; font-size: 30px" href="{% url 'service' %}">هر چی که باید بدونید</a>
        <br>
        <br>
    </div>
    </div>
    </div>

    <br>
{#    8-week schedule#}
    <div class="container" data-anijs="if: scroll, on: window, do: lightSpeedIn animated, before: $scrollReveal">
    <div class="row" style="border: 3px solid #dfb9d2; border-radius:5px ">
    <div class="text-center">
        <h2 style="direction: rtl">نمی دونید از کجا باید شروع کنید؟</h2>
        <p style="direction: rtl; font-size: 20px">چطور زمان بندی کنیم تا در هشت هفته برای تافل آماده شویم؟ تمرین های لازم چیه؟</p>
        <br>
        <img style="padding-right: 10rem" src="{% static "user_profile/1 (1).png" %}">
        <a data-anijs="if: mouseover, do: swing animated" class="btn btn-pink" style="width: 29rem ; border-radius: 50px; padding: 15px; font-size: 30px" href="{% url 'barname' %}">برنامه مطالعاتی تافل</a>
        <img style="padding-left: 10rem" src="{% static "user_profile/1 (2).png" %}">
        <br>
        <br>
    </div>
    </div>
    </div>
 <br>
 <br>
 <br>
  <!--question and answer section    -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card" >
                        <div class="face front">
                            <div class="well well-sm inner" id="green" style="font-size: 20px">چه نیازی هست که متن ها تصحیح بشن؟</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer">نوشتن و صحبت کردن آکادمیک، درست مثل رانندگی یک مهارته! برای تقویت یک مهارت باید تمرین و تلاش کنید و در طول مسیر از کسی که مسیر رو با موفقیت رفته کمک بگیرید تا راهنمایی تون کنه</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner" id="yellow" style="font-size: 20px">چه کسانی متن های شما رو تصحیح می کنند؟<br>
                            آیا نمره ای که اعلام میشه قابل اعتماده؟</div>
                        </div>

                        <div class="face back">
                            <div class="well well-sm outer">افرادی که سال ها تجربه موفق در تدریس زبان دارند
                            <br> افرادی که در آزمون اصلی نمره بیش از 100 رو کسب کرده اند
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner" id="blue" style="font-size: 20px">چرا به ما اعتماد می کنید؟</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer">چون میدونیم طبق چه استانداردی باید تصحیح بشه
                            <br>ارزان اما با کیفیت
                            <br>سریع اما دقیق
                            <br>اشتباهات متداول داوطلبان میدونیم کجاس
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="flip">
                    <div class="card">
                        <div class="face front">
                            <div class="well well-sm inner" id="red" style="font-size: 20px">بجز تصحیح چیکار می کنیم؟</div>
                        </div>
                        <div class="face back">
                            <div class="well well-sm outer">یه سیستم قوی مشاوره ای داریم
                            <br>برنامه ریزی تحصیلی مدون
                            <br>معرفی منابع و معرفی روش ها
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
<div class="modal fade" id="free" tabindex="-1" role="dialog" aria-labelledby="freeLabel" style="direction: rtl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="freeLabel">ثبت نام در دوره رایگان یادگیری مکالمه - فقط برای اعضای سایت</h4>
      </div>
      <div class="modal-body">
      در ده هفته به شما فایل های صوتی و متنی کوتاه ارسال می کنیم که با انجام تمرین های آن شما می توانید به راحتی به انگلیسی صحبت کنید!
 درس های این دوره رایگان هر هفته به ایمیل اعضای سایت ارسال میشه.
          برای شرکت در دوره رایگان یادگیری مکالمه به زبان انگلیسی کافیه فرم ثبت نام رو پر کنید.
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" href="{% url 'user_profile:register' %}">اطلاعات بیشتر در مورد دوره</a>
        <a type="button" class="btn btn-primary" href="{% url 'user_profile:register' %}">میخواهم در دوره ثبت نام کنم</a>
      </div>
    </div>
  </div>
</div>


</div>
<script type="text/javascript" rel="script" src="{% static 'user_profile/homescript.js' %}"></script>
        <script src="{% static 'user_profile/typed.js' %}"></script>

{% endblock %}