{% extends "user_profile/base.html" %}
{% load static %}

{% block title %}
 Welcome {{ user.first_name }}
{% endblock %}

{% block nav %}
    {{ user.first_name }}
{% endblock %}

{% block cre %}
{{ user.credit }}
{% endblock %}

{% block activeClass %}.pf{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'user_profile/chartist.min.css' %}">
    <script src="{% static 'user_profile/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'user_profile/chartist.min.js'%}"></script>
{#    <script src="{% static 'user_profile/word_counter1.js' %}"></script>#}



    <style>
    body{direction: rtl}
    mark{
        background: none;
        color: rgb(149,23,104);
        font-weight: bold;
        font-size: 20px;
    }
    .btn-tst{
        background-color: rgb(149,23,104);
        color: white;
        border: 2px dashed white;
    }
    .btn-tst:hover{
        background-color: white;
        color: rgb(149,23,104);
        border: 2px dashed rgb(149,23,104);
    }
    .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
            stroke: rgb(149,23,104);
            }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        border-top: 1px solid rgb(106, 17, 75)
    }
    .table > thead > tr > th {
    border-bottom: 2px solid #710000;
    }
    .ct-grid{
        stroke: rgb(107,77,77)
    }
    .ct-label.ct-vertical.ct-start {
        font-size: 14px;
    }
    .ct-chart-bar .ct-label, .ct-chart-line .ct-label {
        font-size: 14px;
    }
    .modal-header {

    border-bottom: 1px solid rgb(149,23,104);
}

    </style>
{% endblock %}

{% block content %}


    <div class="container">
    <div class="text-center" style="border: 2px solid rgb(149,23,104)" >
        <h2>{{ user.first_name }}</h2>
        <h3>{{ user.username }}</h3>
        <p>{{ user.email }}</p>
        <p></p>
    </div>
<div class="container-fluid">

{% if exam %}

<h1 style="color: rgb(149,23,104)"> جدول نمرات</h1>
 <table class="table table-striped" style="direction: ltr" id="myTable" >
    <thead >
        <tr >
            <th >شماره Writing</th>
            <th >موضوع</th>
            <th >score</th>
            <th>time</th>
        </tr>
    </thead>
    <tbody>
        {% for item in exam %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a data-toggle="modal" data-target="#{{ forloop.counter }}a" style="color: rgb(149,23,104); cursor: pointer">{{ item.title }}</a></td>
                <td>{{ item.score }}</td>
                <td>{{ item.time }}</td>
            </tr>

           <div class="modal fade " id="{{ forloop.counter }}a">
        <div class="modal-dialog">
            <div class="modal-content">

                 <!--heade-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> &times; </button>
                    <h3 class="modal-title" style="color: rgb(149,23,104);">{{ item.title }}</h3>
                </div>
                <div class="modal-body">
                    <textarea rows="15" class="form-control" id="{{ item.id }}" name="text">{{ item.text }}</textarea>
                    <div id="result">
                         تعداد کلمات استفاده شده (روی متن کلیک کنید) : <span id="{{ item.id }}wordCount">0</span><br/>
                     </div>
                    <hr>
                    <h3> score: {{ item.score }}</h3>
                    <hr>
                    <p>نظر مشاور</p>
                    <textarea rows="5" class="form-control"  name="text">{{ item.moshaver }}</textarea>
                </div>
            </div>
            </div>
            </div>


        {% endfor %}
    </tbody>
 </table>


{#        chart#}

    <div class="col-sm-8">
    <div class="ct-chart ct-golden-section" style="height: 30rem" ></div>
    </div>
    <div class="col-sm-4">
    <br>
    <br>

    <p><mark><-</mark>برای مشاهده متن خود و نظر مشاور بر روی اسم آن کلیک کنید<mark>-></mark></p>
    <p><mark><-</mark>بعد از ثبت نمره توسط مصحح نمره شما وارد نمودار خواهد شد<mark>-></mark></p>
    </div>
    </div>
    {% else %}
    <br>
            <div class="text-center">
                <p style="">متن خود را ثبت کنید تا <mark>کمتر از 12 </mark> ساعت آینده تصحیح شده با نمره و نظر مشاوره دریافت کنید </p>
                <a href="{% url 'user_profile:NewWriting' %}" class="btn btn-tst " role="button"><h2>تست رایگان writing  </h2></a>
            </div>


    {% endif %}

    <br>
    <br>
    <hr>
    <div class="col-sm-6 text-center" style="color: #951768 ">
        <h3>ضبط speaking</h3>
        <P>با نمره دهی و نظر مشاوره ای در کمتر از 12 ساعت کاری</P>
        <p class="center-block" style="border: 1px dashed #951768; width: 150px">comming soon</p>
    </div><div class="col-sm-6 text-center" style="color: #951768 ">
        <h3>آزمون اینترنتی Toefl و GRE</h3>
        <P>با نمره دهی و نظر مشاوره ای در کمتر از 12 ساعت کاری</P>
        <p class="center-block" style="border: 1px dashed #951768; width: 150px">comming soon</p>
    </div>




</div>




{#    script #}
    <script>
        new Chartist.Line('.ct-chart', m={
            labels: [

            ],

            series: [
                a=[],
            ]
        }, {
            fullWidth: true,
            chartPadding: {
                right: 40
            }
        });

    {% for item in exam %}
         {% if item.score != '0' %}
         m.labels.push({{ forloop.counter }}+1)
        a.push({{ item.score }})
        {% endif %}
        {% endfor %}

        {% for item in exam %}
{#        word counter#}
    counter{{ forloop.counter }} = function() {
    var value = $('#{{ item.id}}').val();

    if (value.length == 0) {
        $('#{{ item.id }}wordCount').html(0);

        return;
    }

    var regex = /\s+/gi;
    var wordCount = value.trim().replace(regex, ' ').split(' ').length;


    $('#{{ item.id }}wordCount').html(wordCount);
console.log(wordCount)
};

$(document).ready(function() {
    $('#{{ item.id }}').click(counter{{ forloop.counter }});
    $('{{ item.id }}').change(counter{{ forloop.counter }});
    $('{{ item.id }}').keydown(counter{{ forloop.counter }});
    $('#id_text').keypress(counter{{ forloop.counter }});
    $('#id_text').keyup(counter{{ forloop.counter }});
    $('#id_text').blur(counter{{ forloop.counter }});
    $('#id-text').focus(counter{{ forloop.counter }});
})

    {% endfor %}

    </script>



{% endblock %}
{#    <a href="{% url 'user_profile:edit' user.pk %}">edit profil</a>#}

