{% extends "user_profile/tempa.html" %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="تافل,آزمون تافل, منابع آزمون تافل, کتاب, معرفی منابع تافل, toefl">
    <meta name="description" content="کامل ترین منابع مطالعه آزمون تافل - اسکورایز">
{% endblock %}

{% block title %}
    مهم ترین منابع مطالعاتی برای آمادگی آزمون تافل کدام ها هستند؟ | اسکورایز
{% endblock %}

{% block image %}
{% static "user_profile/study.png" %}
{% endblock %}


{% block heading %}
معرفی مهم ترین کتاب هایی که باید برای آزمون تافل بخوانید
{% endblock %}

{% block h21 %}
    <h2>منابع لغات تافل</h2>
{% endblock %}

{% block ax1 %}
    <img src="{% static 'user_profile/dictionary.png' %}" width="200 px">
{% endblock %}

{% block matn1 %}
    <p>
از بین کتاب های موجود در بازار برای تقویت دایره لغات تون در آزمون تافل لغت های چند کناب رو لازمه بدونید و البته یعنی به یک کتاب اکتفا نکنید!
    همچنین اگر تا الان کلی کلاس شرکت کردید باز گول نخورید که این کتابا رو نخونید! چون بعضی لغت ها خیلی مخصوص به خودش رو داره آزمون تافل!
    این کتاب ها عبارتند از:
        <ol style="direction:ltr ">
<li>4000 essential English words 1 to 4, especially book 3 and 4</li>
<li>Essential English Idioms Elementary, Intermediate, & Advance (Strongly recommended)/ Oxford Word Skills, Idioms and Phrasal verbs</li>
<li>Campus Vocabulary</li>
<li>Reading vocabulary 2</li>
<li>Prefixes, Suffixes, and Common Word Roots 1, 2, and 3</li>
<li>Essential words for the TOEFL or 400 must have words</li>
<li>JUST IN TIME Vocabulary (Elizabeth Chesla, Chapters 2 to the end)</li>
   </ol> </p>
{% endblock %}

{###################}
{% block h22 %}
    <h2>منابع تقویت گرامر</h2>
{% endblock %}

{% block ax2 %}
    <img src="{% static 'user_profile/checklist.png' %}" width="200 px">
{% endblock %}

{% block matn2 %}
    <p>
از گرامر به طور جداگانه سوالی مطرح نمیشه بنابراین اگه تا حدودی بلدید لازم نیست وقت زیادی روش بذارید اما حتما باید ساختارهای زبان رو یک یادآوری داشته باشید!
    چرا که در قسمت Reading خیلی کمک تون میکنه که راحت تر متن رو بفهمید!
    و همچنین در قسمت Writing هم باعث میشه عبارت هاتون رو مطمئن بنویسید!
    برای گرامر هم این کتاب ها توصیه میشه:
        <ol style="direction: ltr">
        <li>Fundamentals English Grammar 3rd Edition with Key (For Pre-intermediate Students)</li>
        <li>The Complete English Grammar Series (intermediate Students)</li>
        <li>Grammar for IELTS (Tenses)</li>
        <li>Betty Azar</li>
        <li>Bandscore Booster</li>
        <li>English Grammar in Use: Intermediate (3rd edition)</li>
        <li>Advanced Grammar and Vocabulary (Maciej Matasek 6 units)</li>
    </ol></p>
{% endblock %}

{############################################}

{% block h23 %}
    <h2>منابع مطالعه Reading برای آزمون تافل</h2>
{% endblock %}

{% block ax3 %}
    <img src="{% static 'user_profile/school.png' %}" width="200 px">
{% endblock %}

{% block matn3 %}
    <p>
خیلی از کتاب های آموزشی تافل قسمتی رو به یاد دادن روش خوندن متن ها و البته تحلیل انواع سوالات متن ها و نحوه پاسخ گویی بهشون اختصاص دادند.
    حتما باید به این روش ها مرور داشته باشید تا بتونید در زمان مناسب هم متن های طولانی شو بخونید و هم اینکه به سوالاتش پاخ صحیح بدید.
    سایر کتاب ها هم متن های نمونه رو برای تمرین آوردند که البته پیشنهاد اسکورایز برای تمرین این بخش حل نمونه سوالات موسوم به TPO هست که کاملا تشابه داره با سطح سوالات آزمون اصلی.
    از جمله کتاب های مناسب برای پارت Reading آزمون تافل عبارتند از:
                <ol style="direction: ltr">
                <li>ETS 3rd Edition PDF & Audio/Delta’s Key to the Next Generation TOEFL Test/Cracking TOEFL iBT (Princeton)</li>
                <li>TPO 1-48</li>
                <li>Cambridge Preparation for the TOEFL Test (4th edition, multimedia)</li>
                <li>Kaplan (multimedia)</li>
                <li>Oxford (Book) (Recommended)</li>
</ol>

    </p>
{% endblock %}

{######################}

{% block h24 %}
    <h2>منابع Listening برای آزمون تافل</h2>
{% endblock %}

{% block ax4 %}
    <img src="{% static 'user_profile/music-player.png' %}" width="200 px">
{% endblock %}

{% block matn4 %}
    <p>
برای قسمت Listening آزمون تافل کتاب های موجود بیشتر در نحوه نت برداری و آشنا کردن داوطلب با تیپ سوالات کار کردند.
    این قسمت با تمرین زیاد خیلی راحت نمره قابل قبولی رو میشه بدست آورد.
    کافیه روی متن های علمیو دانشگاهی بیشتر تمرکز کنید و مدام گوش کنید و سعی کنید بفهمید موضوع چیه.
    باز هم مهم ترین منبع برای تمرین این بخش آزمون های TPO هستند
    سایر کتاب ها عبارتند از:
                <ol style="direction: ltr">
<li>American Accent Video Training Program (Pronunciation Workshop) 1</li>
<li>American accent training 2</li>
<li>TOEFL ESL POD (For intermediate level)</li>
<li>Cambridge CBT Multimedia (Listening Folder)</li>
<li>Just Listening and Speaking & 6-minute English (British)</li>
<li>Delta’s Key to the Next Generation TOEFL Test/Cracking TOEFL iBT (Princeton)</li>
<li>Cambridge Preparation for the TOEFL Test (4th edition, multimedia)</li>
<li>Barron’s How to Prepare for the TOEFL iBT (12th edition, multimedia)</li>
<li>Kaplan (multimedia)</li>
<li>Oxford (Book) (Recommended)</li>
<li>Bruce Rogers Complete Guide to the TOEFL iBT</li>
<li>TPO 1-48</li>
</ol>
    </p>
{% endblock %}

{##########################}

{% block h25 %}
    <h2>منابع مطالعه Speaking برای آزمون تافل</h2>
{% endblock %}

{% block ax5 %}
    <img src="{% static 'user_profile/chat.png' %}" width="200 px">
{% endblock %}

{% block matn5 %}
    <p>
کتاب های بسیار بسیار متنوعی در این بخش برای آزمون تافل موجوده که توضیح سوالات شش گانه Speaking رو داره و توضیحاتی درباره نحوه پاسخ گویی داره.
    همچنین تمرین ها و البته تمپلیت های مناسب Template برای هر سوال رو ارائه دادن.
    مهم ترین منبع ویدیو های آموزشی نوت فول Notefull هستند که قابل دانلود هستند
        سایر منابع مرسوم به این شرح است:
                <ol style="direction: ltr">
<li>Building Skills for the TOEFL iBT: Beginning, developing, mastering</li>
<li>Longman Essay Activator</li>
<li>Longman iBT, CD-ROM for sample speaking tests</li>
<li>Cambridge iBT, CD-ROM for sample speaking tests</li>
<li>Barron’s iBT, CD-ROM for sample speaking tests</li>
<li>TPO 1-36</li>
</ol>

    </p>
{% endblock %}

{#####################################}

{% block h26 %}
    <h2>منابع مطالعه Writing برای آزمون تافل</h2>
{% endblock %}

{% block ax6 %}
    <img src="{% static 'user_profile/writingicon.png' %}" width="200 px">
{% endblock %}

{% block matn6 %}
    <p>
و اما آخرین بخش Writing
    برای آمادگی در این بخش کتاب های خیلی خوبی آماده شده که برای بیان هر مطلبی به شما اصطلاحات، لغات و البته ساختارهای زیبایی رو معرفی میکنه.
    همچنین کتاب هایی موجودن که کلی متن درباره موضوعات مختلفی رو کنار هم آوردن که شما برای هر موضوعی ایده های مختلف گسترش دادن متن رو ببینید.
    از جمله کتاب های خوب در بازار برای آمادگی تافل در بخش Writing اینها هستند:
                <ol style="direction: ltr">
<li>For and Against: L G Alexander</li>
<li>Longman Essay Activator</li>
</ol>
    </p>
{% endblock %}