{% extends "user_profile/tempa.html" %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="کودکان, نوزادان, زبان, مکالمه, چگونه مکالمه کنیم؟, چگونه مانند کودکان زبان یاد بگیریم؟, زبان بیاموزیم, بهترین راه برای مکالمه">
    <meta name="description" content="استفاده از فنون کودکان در یادگیری مکالمه به زبان انگلیسی">
{% endblock %}

{% block title %}
    چگونه مانند کودکان زبان یاد بگیریم | اسکورایز
{% endblock %}

{% block image %}
{% static "user_profile/baby.png" %}
{% endblock %}


{% block heading %}


    یادگیری مکالمه به زبان انگلیسی به روش کودکان
    {% endblock %}
{% block matn %}
    <h2>ما در یادگرفتن زبان کار راحت تری از کودکان داریم</h2>
    <p>
        ما در یادگیری زبان جدید کار بسیار ساده تری از کودکان داریم<br>
چرا؟ چون شما بر خلاف نوزادان میتونید تفاوت بین هجا ها رو بفهمید. شما میدونید "م" چه صدایی میده و "ن" چه صدایی میده!<br>
چون شما بر خلاف نوزادان میتونید یاد بگیرید که برای ادا کردن یک صدا باید چطور زبونتونو بچرخونید!<br>
چون شما بر خلاف نوزادان میتونید بفهمید صدایی که میشنوید صدای خانم هست یا آقا؟ صدای غریبه اس یا آشنا؟ یا اصلا آلودگی صوتیه!<br>
چون شما بر خلاف نوزادان لازم نیست مدت زیادی صرف کنید تا تن صدای شخص رو درک کنید که متوجه بشید عصبانی بوده یا نه؟ سوالی بوده یا نه؟<br>
چون شما یک زبان دیگه هم بلدید و کاملا معنی صفت، اسم، فعل و عبارت ها رو میفهمید!<br>
چون شما بالغ بر هزاران لغت مشترک با ریشه های مشترک در زبان های دیگه بلدید!<br><br>
شما خیلی بیشتر میدونید و خیلی استعداد بیشتری از یک نوزاد برای یادگیری زبان دارید! پس چرا شاید مدت زیادی طول میکشه برامون تا بخوایم خیلی با سختی اونم دست پا شکسته و اونم فرّار زبان یاد بگیریم؟<br><br>
چون از ابتدایی ترین ابزارهایی که نوزاد برای یادگیری استفاده میکنه استفاده نمی کنیم!<br>

    </p>
<h2>ساده ترین ابزار یادگیری زبان کودکان چه چیزهایی هستند؟</h2>
    <p>
    اولن این که اصلن ترسی از پرسیدن سوال نداره! بارها دیدیم افرادی رو که در کلاس های مختلف شرکت میکنند و حتی نظر خودشونو تو کلاس بیان نمیکنن. فعالیت کلاسی ندارند. مثلا از ترس اینکه نکنه ضایع بشن یا از طرف هم کلاسی ها مسخره بشن. در حالی که نوزادان هر روووز سوال های بی شماری با یک ساختار مشخص رو بارها و بارها میپرسن: "این چیه؟" بچه ها از اشتباه کردن نمیترسن و با آزمون و خطا به استادی میرسن. چن بار تو بچگی از دوچرخه افتادید پایین؟ چن بار موقع یاد گرفتن رانندگی خاموش کردین؟ زبان مثل هر مهارت دیگه نیاز داره که اشتباه کنید! میگن موفقیت مثل یک پاندول میمونه که یک طرفش موفقیت و پیروزیه و یک طرف دیگر شکست و اشتباه. اگر میخواهید دامنه نوسان تون رو زیاد تر کنید و موفقیت های بزرگتری کسب کنید باید بیشتر و بیشتر و بزرگتر شکست بخورید تا به سمت موفقیت های بزرگتر تاب بخورید.<br><br>
دوم اینکه ساعت های متمادی صرف انجام کار مورد علاقشون میکنن. حتما دیدیم که وقتی یک کودک سرگرم بازی با اسباب بازی میشه ساعت ها و روزها و هفته ها با اشتیاق اونو تکرار میکنه. در حالی که ما بزرگ تر ها ممکنه حتی 10 دقیقه هم بازی کردن با اون اسباب بازی برامون جذابیت لازم رو نداشتته باشه. چطور انتظار داریم بدون اشتیاق لازم بدون اشتیاق کودکانه یک زبان رو یاد بگیریم؟ پس کافیه ما هم وقت کافی رو برای یاد گرفتن زبان بذاریم.<br><br>
سوم اینکه به موضوعات بسیار بسیار عمیق توجه میکنن. شما یک شی یی رو از جلوی چشمان یک کودک پنهان کنید (چیزی که بهش دالی بازی میگیم!) فقط از طرز نگاه کردنش میتونید عمق توجه ش رو متوجه بشیم. یا وقتی که کودکی رو صدا میکنید که چطور با تمام حواس به اطراف با دقت نگاه میکنه میشه این توجه رو به عینه مشاهده کرد. آیا توقعی غیر از این دارید که چنین فردی برای یادگیری زبان کار سختی نداشته باشه؟ این در حالیه که حتی وقتی ما تو کلاس های زبان شرکت میکنیم باید دائما مشغول چک کردن آخرین پیام هامون در تلگرام و سایر شبکه های اجتماعی باشیم. یا به خیال خودمون با گوش دادن به آهنگ های زبان دلخواهمون به صورت ناخودآگاه داریم زبان یاد میگیریم! خیر اینگونه نیست! باید تمــــام تمرکزتون رو روی گوش دادن بکنید وقتی که فیلم یا فایل های صوتی به زبان دلخواهتون رو گوش میدید تا تغییری ایجاد بشه. دقیقا همونطوری که بچه ها وقتی براشون اتفاق جدیدی میافته صدایی میشنوند دست از بازی کردن میکشن. تمام حواسشون رو جمع میکنند ببینن چه اتفاقی داره رخ میده.<br><br>
چهارم کاری رو که باید انجام بدن بدون اما و اگر انجام میدن. اگه شما تو شرکتی کار بکنید که مثلا نیاز به یاد گرفتن زبان ژاپنی داشته باشه و یاد گرفتنش به شما خیلی کمک میکنه در رشد حقوقتون چیکار میکنید؟ اکثر افراد انواع و اقسام بهونه ها رو میارن که نه! سخته! بدرد نمیخوره! در حالی که میتونن با صرف زمانی کمتر از یکسال کاملا یاد بگیرن. چرا که کودکی که ابدا هیچ چیز نمیدونه در عرض سه سال کاملا به این زبان مشرف میشه. چون بهانه تراشی نمیکنن کاری که ما بزرگترها در انجام دادنش استادیم!<br><br>
پنجم زبان وسیله ای برای برقرار کردن ارتباطه! بچه ها از همین ابزارشون برای برقراری ارتباط استفادده میکنن و دائما با پدر و مادرشون و البته خودشون! حرف میزنن. اما دایره افرادی که میتونه باهاشون ارتباط برقرار کنه محدود به دو نفره! چرا ما از اینکه در عصر ارتباطات هستیم استفاده لازم رو نمیبریم و با کسی با زبان بیگانه ارتباط برقرار نمیکنیم؟ وسعت شبکه های اجتماعی به قدریه که به همه این فرصت رو میده که بتونن با یک فرد اصیل صحبت کنن و زبانشون رو تقویت کنن. چون زبان وسیله ای برای برقراری ارتباطه و نه چیزی برای پر کردن رزومه!<br><br>
ششم نمیخوایم واقعا مثل بچه ها شروع کنیم! اونها اوایل فقط سوال میپرسند و نیازهاشونو درخواست میکنند. چنتا جمله هم بیشتر بلد نیستند. اما ما از همون اول میخوایم درباره دلایل انحطاط جوامع پوپولیستی نطق کنیم :| و این رو هم بدونیم که برای اینکه خیلی برامون یادگیری زبان جذاب تر باشه سعی کنیم فقط اون نیازمون رو برطرف کنه. مثلا برای چی باید یه ساختمون ساز درباره گیاهان نکاتی رو یادبگیره!<br>
    </p>
    <h3>پس ما از کودکان خیلــــی امکانات گسترده تر و توانایی های پیشرفته تری داریم! کافیه از روش هایی که در گذشته برای یادگیری زبان استفاده کردیم رو مجددا استفاده کنیم تا به نتیجه دلخواهمون یعنی یادگیری زبان های مختلف برسیم.</h3>
    <br>
    <h2>چه راهکاری برای یادگیری زبان پیشنهاد می کنیم؟</h2>
    <p>
    دو کار هست که پیشنهاد میدیم انجام بدید، اول اینکه خیلی زیاد گوش بدید. و دوم اینکه خیلی زیاد حرف بزنید. جعبه ابزارتون رو آماده کنید و ازش به واقع استفاده کنید.<br> <br>
درباره گوش دادن باید اینو بگم که چنتا از ما تا حالا جرات کردیم بدون زیرنویس چه فارسی چه انگلیسی فیلم ببینیم؟ در حالی که واقعا بعضیامون توانایی شو داریم ولی میترسیم. مطمئن باشید چند بار که تجربه اش کنید میبینید زیاد سخت نیست ولی باید از یک جا شروع کنید.<br><br>
جعبه ابزار شما اصطلاحات و جملات کلیدی و پرکاربرده که خیلی زیاد تکرار میشه. اگه جعبه ابرازتون کامل باشه میتونید تو هر موقعیتی با هر سطح از سواد به اصطلاح گلیم خودتون رو از آب بیرون بکشید. «چطور این را می گویید؟»، «نمی فهمم چه می گویید»، «لطفاً تکرارش کنید»، «معنیش چه می شود؟»<br>
    </p>
    <h2>بسته آموزشی مکالمه چه کمکی به شما میکنه؟</h2>
    <p>
    تو این دوره رایگان سعی شده که 100 جمله و عبارت کلیدی رو به شما هدیه بدیم که این 100 جمله در قالب 20 درس و طی 10 هفته به شما ارسال میشه. به شما پیشنهاد میکنیم که 10 جمله هر درس را کاملا حفظ کنید سپس به درس بعدی گوش بدید. باید محتوای هر درس کاملا ملکه ذهنتون بشه و بتونید مانند جعبه ابزار ازش استفاده کنید. طی این دوره رایگان شما قادرید طی 10 هفته کاملا در هر شرایطی به زبان انگلیسی صحبت کنید. در هر درس با هر جمله مثال های متعدد به همراه ترجمه فارسی اومده که میتونید بارها و بارها ازش استفاده کنید.
    </p>
    <h2>حرف آخر...</h2>
    <p>
    مهم ترین پیشنهادی که در رابطه با استفاده از این محصول براتون دارم که رعایت کنید اینه که : مادامی که در حال یادگیری یک درس هستید مطالب درس های بعد رو نگاه نکنید و تا تسلط کامل روی همون درس ها متمرکز بمونید. زیرا این باعث میشه که فشار درس های بعد هم روی ذهنتون گذاشته بشه و یادگیری به خوبی اتفاق نیافته.<br><br>
چه موقع باید درس بعدی رو مطالعه کنیم؟ زمانی که بتونید با اعتماد به نفس کامل از محتوای هر درس در هر شرایطی استفاده کردید.<br><br>
انتظار نداشته باشید از اول خیلی خوب صحبت کنید اما یادتون باشه که همه از یک جایی شروع میکنن.<br><br>
از ابزارتون گاه و بیگاه استفاده کنید! حتی شده نامربوط! سعی کنید در حین یادگیری لذت ببرید.<br><br>
امیدوارم وقت و انرژی کافی برای یادگیری محتوای این محصول رو بذارید. اگه ازین محصول راضی بودید برای اطلاع از محصولات بعدی ما رو فالو کنید و به دوستانتون معرفی کنید.<bR>

    </p>
<a type="button" class="btn btn-primary" href="{% url 'user_profile:register' %}">میخواهم در دوره ثبت نام کنم</a>
{% endblock %}