{% extends "user_profile/home-base.html" %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="کودکان, نوزادان, زبان, مکالمه, چگونه مکالمه کنیم؟, چگونه مانند کودکان زبان یاد بگیریم؟, زبان بیاموزیم, بهترین راه برای مکالمه">
    <meta name="description" content="استفاده از فنون کودکان در یادگیری مکالمه به زبان انگلیسی">
{% endblock %}

{% block title %}
    چگونه مانند کودکان زبان یاد بگیریم | اسکورایز
{% endblock %}

{% block style %}

{% endblock %}


{% block content %}
    <br>
    <br>
    <br>

    <div class="container text-center" style="direction: rtl">
    <h1>یادگیری مکالمه به زبان انگلیسی به روش کودکان</h1>
    <h2>ما در یادگرفتن زبان کار راحت تری از کودکان داریم</h2>
    <p>
        ما در یادگیری زبان جدید کار بسیار ساده تری از کودکان داریم<br>
چرا؟ چون شما بر خلاف نوزادان میتونید تفاوت بین هجا ها رو بفهمید. شما میدونید "م" چه صدایی میده و "ن" چه صدایی میده!<br>
چون شما بر خلاف نوزادان میتونید یاد بگیرید که برای ادا کردن یک صدا باید چطور زبونتونو بچرخونید!<br>
چون شما بر خلاف نوزادان میتونید بفهمید صدایی که میشنوید صدای خانم هست یا آقا؟ صدای غریبه اس یا آشنا؟ یا اصلا آلودگی صوتیه!<br>
چون شما بر خلاف نوزادان لازم نیست مدت زیادی صرف کنید تا تن صدای شخص رو درک کنید که متوجه بشید عصبانی بوده یا نه؟ سوالی بوده یا نه؟<br>
چون شما یک زبان دیگه هم بلدید و کاملا معنی صفت، اسم، فعل و عبارت ها رو میفهمید!<br>
چون شما بالغ بر هزاران لغت مشترک با ریشه های مشترک در زبان های دیگه بلدید!<br>
شما خیلی بیشتر میدونید و خیلی استعداد بیشتری از یک نوزاد برای یادگیری زبان دارید! پس چرا شاید مدت زیادی طول میکشه برامون تا بخوایم خیلی با سختی اونم دست پا شکسته و اونم فرّار زبان یاد بگیریم؟<br>
چون از ابتدایی ترین ابزارهایی که نوزاد برای یادگیری استفاده میکنه تا یاد بگیره استفاده نمیکنیم!<br>

    </p>
    </div>
{% endblock %}