{% extends 'user_profile/home-base.html' %}

{% block title %}  فراموشی پسوورد {% endblock %}

{%  block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" style="margin-bottom:155px ">
        <p style="font-size: 20px">رمز خود را فراموش کرده اید؟ آدرس ایمیل خود را در زیر وارد کنید، و ما روش تنظیم رمز جدید را برایتان می فرستیم.</p>
        <br>
        <form method="post">
            {%  csrf_token %}
            <p><label for="id_email" style="color: rgb(149,23,104)">آدرس ایمیل:</label> <input id="id_email" maxlength="254" name="email" type="email" /> <input class="btn btn-info " style="background-color:rgb(149,23,104); border: none " type="submit" value="ایجاد گذرواژهٔ جدید" /></p>
        </form>
    </div>
<br>
<br>
<br>
<br>
<br>

{%  endblock %}