{% extends 'user_profile/home-base.html' %}

{% block title %}  تغییر گذرواژه {% endblock %}

{%  block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center" style="margin-bottom:155px ">
        <h2>تغییر گذرواژهٔ</h2>
        <p style="font-size: 20px">گذرواژهٔ جدیدتان را  وارد کنید.</p>
        <br>
        <form method="post">
            {%  csrf_token %}
            <div class="errorlist"><span>{{ errors }}</span></div>
          <p>  <label for="id_new_password1" style="color: rgb(149,23,104)">پسوورد</label> <input id="id_new_password1" maxlength="254" name="new_password1" type="password" /></p>
           <p> <label for="id_new_password2" style="color: rgb(149,23,104)">تکرار پسوورد</label> <input id="id_new_password2" maxlength="254" name="new_password2" type="password" /></p>
            <br>
{#            {{ form.as_p }}#}
            <input class="btn btn-info " style="background-color:rgb(149,23,104); border: none " type="submit" value="ایجاد گذرواژهٔ جدید" />
        </form>
    </div>
<br>
<br>
<br>
<br>
<br>

{%  endblock %}