{% extends 'user_profile/home-base.html' %}

{% block title %}  ایمیل ارسال شد {% endblock %}

{%  block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
        <p style="font-size: 20px">تقاضای ریست رمز فرستاده شد

دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشت باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.

اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.

</p>
        <br>

    </div>
<br>
<br>
<br>
<br>
<br>

{%  endblock %}