{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toefl Learning - Lang Cruz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static 'user_profile/bootstrap.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="http://ifont.ir/apicode/38">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet">
    <link href="{% static 'user_profile/service-style.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'user_profile/service-script.js' %}"></script>

    <style>

    </style>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0; border-bottom-color: rgb(149,23,104)">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#Main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Rouge Script', cursive; color:rgb(149,23,104) " href="{% url 'home' %}">Lang Crusier</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-left" id="Main" >
            <ul class="nav navbar-nav">

                <li><a href="{% url 'user_profile:login' %}">ورود</a></li>
                <li><a href="{% url 'user_profile:register' %}">ثبت نام</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<br>
<br>
<div class="row" style=" background-color: rgb(149,23,104); color: white; ">
    <h1 class="text-center" style="font-family: 'Rouge Script';font-size: 50px ">Lang Cruz</h1>
    <div class="jumbotron text-center" style="direction: rtl; background: none; padding: 1rem ">
        <h1 class="center-block" style=" width:50%; border: 3px solid white; border-radius: 10px">هرچیزی که قبل از شروع به خوندن نیاز دارید</h1>
    </div>
    <div class="text-center">
        <h2>یک آزمون را دوبار تکرار نکنید</h2>
    </div>
    <br>
    <br>
    <br>
</div>

<section style="background:#efefe9;">
    <div class="container">
        <div class="row">
            <div class="board" style="height: auto; min-height: 500px">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>

                        <li class="active"><a href="#General" data-toggle="tab" title="General">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-ok"></i>
                         </span> </a>
                        </li>

                        <li>
                            <a href="#Reading" data-toggle="tab" title="Reading">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-book "></i>
                      </span>
                            </a></li>

                        <li><a href="#Listening" data-toggle="tab" title="Listening">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-headphones"></i>
                     </span>
                        </a>
                        </li>
                        <li><a href="#Speaking" data-toggle="tab" title="Speaking">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-volume-up"></i>
                     </span> </a>
                        </li>

                        <li><a href="#Writing" data-toggle="tab" title="Writing">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-pencil"></i>
                         </span>
                        </a></li>



                    </ul></div>

                <div class="tab-content" style="direction: rtl">
                    <div class="tab-pane fade" id="Reading">
                        <h3 class="head text-center">Reading</h3>
                        <p class="narrow">
این مهارت برای سنجش توانایی شما در خواندن و درک متن های کوتاه مشابه موضوع و حالتی با متن هایی که دانشجویان در دانشگاه های آمریکا با آن مواجه میشوند است.
امتحان ریدینگ در تافل شامل 3 متن به مدت زمان در مجموع 60 دقیقه است که اولین مهارتی است که در آزمون تافل سنجیده میشود.
در برخی از آزمون ها به صورت رندم و شانسی یکی از مهارت های ریدینگ یا لیسنینگ به صورت طولانی یا اصطلاحا extended برگزار میشود. اگه مهارت ریدینگ طولانی شود، بعد از اتمام زمان سه متن؛ یک متن دیگر با زمان 20 دقیقه اضافه میشود پس بجای 60 دقیقه این امتحان 80 دقیقه طول میکشد.<br>
هر متن به طور متوسط 5 پاراگراف دارد و 14 سوال دارد که مجموعا 42 سوال در این قسمت مطرح میشود.<br>
پس از خواندن متن، سوال ها یکی یکی ظاهر میشوند و در قسمتی از صفحه سوال نمایش داده میشود و در قسمت دیگر متن نمایش داده میشود. پس نگران این نباشید که متن از دست برود.<br>
حتی در برخی از سوالات پاراگرافی که سوال از آن مطرح شده است با یک علامت مشخص میشود تا درون متن به راحتی و آسودگی خاطر پیدا کنید.<br>
برای پاسخ به سوالات میتونید اگر خواستید از یک سوال که مثلا ممکن است زمان بیشتری بگیرد یا از جواب آن مطمئن نیستید بگذرید و بعدا به آن برگردید! اما فقط تا زمانی که در یک متن بخصوص باشید.<br>
مثلا اگر سوالات متن یک را جواب میدهید فقط میتوانید از برخی سوالات این متن بگذرید و بعدا برگردید. اگه وارد متن دوم شدید دیگه امکان برگشت و دیدن سوالات متن اول نیست. پس به این نکته هم توجه کافی داشته باشید.<br>
سوالات هم نمره منفی نداره! دیگه چی بهتر از این؟ اگه وقت رو به اتمام بود شانسی بزنید:)<br>
به این نکته هم توجه کنید که با وجود اینکه متن در کنار سوالات موجوده خیلی جاها توصیه میشه که یه خلاصه خیلی ریز هم از هر متن نت برداری کنید. دلیلش هم اینه که یه در انتهای هر متن یه سوال کلی برای درک کلی متن پرسیده میشه که با یک نگاه به خلاصه خود میتونید خیلی ساده جواب سوال رو پیدا کنید.<br>
سوال ها از درباره مطالب و اطلاعاتی است که در متن به طور مستقیم یا غیرمسقیم بیان شده؛ و یا درباره لغات معینی در متن مطرح میشود.<br>
(از آنجایی که در زبان انگلیسی هر لغت ممکن است چند معنی داشته باشد؛ حتما به این نکته توجه کنید که منظور معنی این لغات درون متن مورد نظر است و پیشنهاد میشود حتی اگر از معنی لغتی مطمئن هستید باز هم درون متن با معنی مورد نظر رسایی جمله را چک کنید.)<br>
از 14 سوال متن در قسمت ریدینگ گونه های مختلفی از سوال وجود دارد که به آنها میپردازیم<br>
یادتون هم باشه که در متن های تافل همه سوال ها به یک اندازه نمره ندارند و بعضی سوالات به اندازه 2 نمره ارزیابی میشوند:<br>
سوال اول)
سوال دوم)
سوال سوم)
سوال چهارم)
سوال پنجم)
حتما زمان خود را مدیریت کنید تا بتوانید به خوبی به همه سوالات هر سه متن پاسخ بدهید. زمان هر متن به طور دقیق 20 دقیقه نیست. کما اینکه برخی متن ها ساده ترند و باید در زمانی کمتر به آنها پاسخ داد و برخی دیگر مشکل تر و بالطبع زمان بر تر هستند. اما زمان بیست دقیقه معیار خوبی برای سنجش زمان تون تا اون لحظه است.<br>
یک تایمر در گوشه سمت راست بالای تصویر قرار داره که از 60 دقیقه شمارش معکوس میکنه و زمان رو هر لحظه به شما گزارش میده پس نیازی به چک کردن ساعت و داشتن استرس بابت از دست رفتن زمان نیست. وقتی تایمر به زمان 10 دقیقه میرسه به حالت اخطار چند بار روشن خاموش میشه تا توجه تون رو جلب کنه. اگه از الان بدونید کپ نمیکنید :دی<br>
پیشنهادهایی کلی برای تقویت این مهارت:<br>
£بخونید! بخونید و باز هم بخونید!
هر چقدر میتونید باید منظم و با برنامه هر چند وقت یکبار متن انگلیسی بخونید. تمرکز کنید روی متن های آکادمیک و علمی! و البته فقط به موضوعات مورو علاقه خودتون بسنده نکنید از هر موضوعی از جمله هنری، اقتصادی، تاریخی، زیستی، جغرافی، تجاری و سایر چیزا متن بخونید. کلی از این متن ها تو مقالات و اینترنت به سادگی قابل دسترسی اند.<br>
هدف نوشته و متن رو پیدا کنید.<br>
فهمیدن موضوع متن انقدر مهمه که میتونید بفهمید نویسنده قصد داره متن رو به کجا ببره. این نکته رو معمولا میشه از پاراگراف اول این مطالب رو فهمید.<br>
به طور کلی متن ها سه جور develop میشن:<br>
توضیح میدن:
موضوعی رو حل میکنن:
متقاعد میکنن:
دایره لغات رو زیاد کنید<br>
روی هر موضوعی که متنی میخونید لغات رو به صورت موضوعی یادداشت کنید و یادبگیرید. البته کتاب هایی با این روش نوشته شده اند که مطالعه آنها هم به شدت پیشنهاد میشه.<br>
باید به این توانایی برسید که با یک نگاه خیلی سریع به متن محتوای اونرو بفهمید و هدف نگارش متن رو حدس بزنید. مطالبی که باید تو متن بهشون توجه کنید:<br>
                        </p>

                    </div>
                    <div class="tab-pane fade" id="Listening">
                        <h3 class="head text-center">Listening</h3>
                        <p class="narrow text-center">
این مهارت دومین قسمت از آزمون تافل عه و دقیقا پس از ریدینگ و بدون وقفه ای شروع میشود.
از دو پارت تشکیل میشه که هر پارت شامل سه تا بخشه.پس مجموعا میشه 6 تا بخش.
هر پارت برای پاسخ گویی 10 دقیقه زمان هست.
اگر این مهارت extended شود یه پارت ده دقیقه ای دیگر هم به سوالات اضافه میشه.
از موضوعات مختلفی سوال طرح میشه
مهم ترین کار سر جلسه نت برداری هست که باید کامل و صحیح انجام بشه
سوالات قابل رد شدن و برگشتن نیستن چون ممکنه جواب یک سوال در صورت سوال های دیگه مستتر باشه
برای تقویت این مهارت باید هم اهنگ و فایل های صوتی زیادی گوش بدید                        </p>

                    </div>
                    <div class="tab-pane fade" id="Speaking">
                        <h3 class="head text-center">Speaking</h3>
                        <p class="narrow text-center">
                            <br>این آزمون پس از یک وقفه 10 دقیقه ای بعد از دو آزمون اول برگزار می شه. پیشنهاد میشه حتما شیرینی و آب کافی رو مصرف کنید تا هم از استرس تون کم بشه هم اینکه میزان قند بدنتون مناسب بشه.<br>
                            <br>این آزمون از شش سوال تشکیل شده. در دو سوال اول موضوعی داده میشه و شما صحبت می کنید. در دو سوال دوم ابتدا متنی رو می خونید سپس مکالمه ای در خصوص اون متن گوش میدید و نظرتون رو میدید. و در دو سوال آخر یک سخنرانی نسبتا بلند 5 دقیقه ای گوش میدید و قراره خلاصه ای از صحبت ها رو بگید.</br>
                            <br>کل زمانی که طی این شش سوال صدای شما ضبط میشه 5.5 دقیقه است بنابراین کل زمان این آزمون کمتر از نیم ساعت طول میکشه.</br>
                            <br> در دو سوال اول ابتدا به شما موضوع بحث رو بیان میکنه 15 ثانیه فرصت دارید درباره جواب فکر کنید و پس از اتمام این زمان 45 ثانیه صدای شما ضبط میشه.</br>
                            <br>در سوال های پنجم و ششم یک سخنرانی یا لکچر درباره یک موضوع رو میشنوید و ازش نت برداری میکنید. بعد از 15 ثانیه آماده سازی به مدت 60 ثانیه فرصت دارید تا نکات اصلی صحبت های استاد و مثال هایی که برای نظرش ارائه داده رو بیان کنید.</br>
                            <br>در مهارت Speaking مهم ترین چیز ضبط کردن صدای خودتونه. حتما بعد از هر بار تمرین صدای خودتون رو گوش بدید و تلاش کنید بهتر و بهترش کنید.</br>
                            <br> برای هر یک از سوال های شش گانه Speaking برای تک تک لحظات زمان آماده سازی کارهایی وجود داره که باید انجام بدید تا شما بتونید بهترین جواب رو ارائه بدید.</br>
                            <br>همچنین برای هر یک از شش سوال Speaking پترن و قالب خاصی وجود داره که با بخاطر سپردنش شما میتونید خیلی تمرین شده و آماده سر جلسه حاضر بشید.</br>
                            <br> برای دو سوال اول برگه ای اصطلاحا به نام Cheat Sheet وجود داره که همونطور که از اسمش برمیاد برگه تقلب شماست. در دو سوال اول شما باید یک سری دلیل و مثال برای نظر خودتون ارائه بدید. خوشبختانه خیلی از این دلیل ها و مثال هاشون برای اکثر سوال ها قابل استفاده است. با داشتن این برگه تقلب و تکرار و تمرین زیاد شما قادرید به سادگی برای نظر های خودتون دلیل و مثال های عالی ارائه بدید.</br>
                        </p>

                    </div>
                    <div class="tab-pane fade" id="Writing">
                        <h3 class="head text-center">Writing</h3>
                        <p class="narrow text-center">
1.  این آزمون از دو سوال تشکیل میشه که اولین سوال integrated و دومین سوال independent اسم گذاری شده اند. کل زمان این قسمت از آزمون نزدیک به یک ساعت طول میکشه و دقیقا بعد از آزمون Speaking شروع میشه.<br>
2.  سوال integrated همونطور که از اسمش معلومه تلفیقی از مهارت هاست. در این سوال اول از همه شما یک متن نسبتا بلند رو باید در مدت زمان 3 دقیقه بخونید که مقاله ای در یک موضوع است و نظری رو بیان میکنه و برای اون نظر چند دلیل و برای هر دلیل یک مثال ارائه شده. در گام اول باید بتونید متن و دلایل و مثال ها رو بخونید و حتما نت برداری کنید چرا که متن دیگه برنمیگرده.<br>
3.  در قسمت دوم از سوال integrated یک مکالمه بین دو نفر درباره متن انجام میشه و نقد و بررسی انجام میدن درباره متنی که خونده شده و90 درصد مواقع مخالفت خودشون رو ابراز میکنن و برای نظرشون دلیل و منطق میارن و این قسمت هم باید به دقت نت برداری کنید.<br>
4.  کاری که شما قراره بکنید اینه که دقیقا نظر متن و اشخاص مکالمه رو منعکس کنید. توجه کنید که اصلا نباید نظر خودتون رو بگید. فقط باید بگید که متن فلان نظر رو داشت ولی اون آقا با این نظر مخالف بود چون مثال نقض فلان رو ارائه کرد.<br>
5.  برای نوشتن این متن 20 دقیقه زمان دارید و پیشنهاد میشه نزدیک به 300 لغت بنویسید. سعی کنید بیشتر از همه از عبارت های بیانی مناسب و متنوع برای بیان نظر شخص و استاد استفاده کنید. مثلا stated , opposed , etc<br>
6.  در امتحان رایتینگ برنامه فقط قادر به شمردن تعداد لغت هایی که شما نوشتید هست و غلط املایی و یا غلط گرامری مانند Word نمیگیرد. پس حتما برای تمرین از برنامه هایی مثل Notepad استفاده کنید تا شرایط امتحان رو تجربه کنید.<br>
7.  سوال دوم Writing سوال independent نامیده میشه و مشخصا کاملا مستقل از بقیه مهارت هاست و فقط مهارت نوشتاری شما رو سنجش میکنه. در این قسمت یک سوال پرسیده میشه و نظر شما رو در اون باره میخواند.<br>
8.  مهم نیست نظرتون چیه فقط اهمیت داره که بتونید خیلی خوب نظرتون رو ساپورت کنید و دلایل منطقی و کافی براش بیارید. صرفا آوردن دلیل و بیان کردنش متن شما رو قشنگ و روان نمیکنه حتما و حتما برای دلیلتون مثال های ملموس هم بیارید.                        </p>
                    </div>
                    <div class="tab-pane fade  in active" id="General">
                        <h3 class="head text-center">General</h3>
                        <p class="narrow text-center">
آزمون تافل یکی از آزمون های متداول برای غیرانگلیسی زبانان به شمار می آید که قصد ادامه تحصیل در خارج را دارند. <br>
                            این آزمون توسط سازمان ETS برگزار می شود لذا برای ثبت نام باید به <a href="http://ets.org/toefl">سایت</a> این سازمان مراجعه کنید.<br>
                            چهار مهارت خواندن، شنیدن، گفتن و نوشتن در آن سنجیده میشه و به هر یک از این مهارت ها یک بخش اختصاص داده شده پس مجموعا از 4 بخش تشکیل شده است. هر یک از این بخش ها 30 نمره دارد پس نمره این آزمون از 0 تا 120 اعلام می شود. <br>
                            به طور معمول اکثر دانشگاه ها به عنوان یکی از شرایط نمره حداقلی برای اعطای پذیرش عنوان می کنند که بسته به هر دانشگاه متفاوت است. به طور معمول نمره های بیشتر از 80 برای تحصیلات تکمیلی مورد قبول هستند.<br>
                            پس از آزمون طی زمان یک هفته نتایج اعلام می شود و پس از آن داوطلب می تواند نتیجه آزمون سنجش زبان انگلیسی خود را برای دانشگاه های مورد نظر بفرستد. معمولا در سازمان ETS به هر یک از دانشگاه ها یک کد چهار رقمی اختصاص می دهند که با وارد کردن این کد در سایت آزمون، نتیجه شما برای دانشگاه مورد نظر ارسال می شود.<br>
                            هزینه شرکت در آزمون تافل 215 دلار آمریکا است و فرستادن نتیجه آزمون به هر دانشگاه 20 دلار هزینه دارد.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



</body>
</html>