{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Lang Cruz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{% static 'user_profile/bootstrap.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="http://ifont.ir/apicode/38">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet">
    <link href="{% static 'user_profile/service-style.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'user_profile/service-script.js' %}"></script>

    <style>

    </style>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0; border-bottom-color: rgb(149,23,104); z-index: 1000000">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#Main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Rouge Script', cursive; color:rgb(149,23,104) " href="{% url 'home' %}">Lang Crusier</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-left" id="Main" >
            <ul class="nav navbar-nav">

                <li><a href="{% url 'user_profile:login' %}">ورود</a></li>
                <li><a href="{% url 'user_profile:register' %}">ثبت نام</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<br>
<br>
<div class="row" style=" background-color: rgb(149,23,104); color: white; ">
    <h1 class="text-center" style="font-family: 'Rouge Script';font-size: 50px ">Lang Cruz</h1>
    <div class="jumbotron text-center" style="direction: rtl; background: none; padding: 1rem ">
        <h1 class="center-block" style=" width:50%; border: 3px solid white; border-radius: 10px">هرچیزی که قبل از شروع به خوندن نیاز دارید</h1>
    </div>
    <div class="text-center">
        <h2>یک آزمون را دوبار تکرار نکنید</h2>
    </div>
    <br>
    <br>
    <br>
</div>

<section style="background:#efefe9;">
    <div class="container">
        <div class="row">
            <div class="board">
                <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li class="active">
                            <a href="#speaking" data-toggle="tab" title="speaking">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-off "></i>
                      </span>
                            </a></li>

                        <li><a href="#profile" data-toggle="tab" title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span>
                        </a>
                        </li>
                        <li><a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                        </li>

                        <li><a href="#settings" data-toggle="tab" title="blah blah">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-comment"></i>
                         </span>
                        </a></li>

                        <li><a href="#doner" data-toggle="tab" title="completed">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-ok"></i>
                         </span> </a>
                        </li>

                    </ul></div>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="speaking">

                        <h3 class="head text-center">Skil You Should Have For Speaking<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                        <p class="narrow text-center">
                           توضیح مختصر راجع به  اسپیکینگ

                        </p>

                        <ul class="text-center" style="text-decoration: none">
                            <dd> صدای خودتونو ضبط کنید</dd>
                            <li> صدای خودتونو ضبط کنید</li>
                            <li>با عنوان هر 6 سوال آشنا باشید</li>
                            <li>با زمان بندی تمرین کنید</li>
                            <li>برای ثانیه به ثانیه زمان آماده سازی برنامه داشته باشید</li>
                            <li>با صدایی رسا حرف بزنید</li>
                            <li>از کلمات ربطی مناسب استفاده کنید</li>
                            <li>برای نظر خود دلیل منطقی و مثال ارائه کنید</li>
                            <li>در سوالهای ترکیبی نطق برداری کنید</li>
                            </li>
                        </ul>

                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
                        <p class="narrow text-center">
                            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                        </p>

                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>

                    </div>
                    <div class="tab-pane fade" id="messages">
                        <h3 class="head text-center">Bootsnipp goodies</h3>
                        <p class="narrow text-center">
                            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                        </p>

                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="settings">
                        <h3 class="head text-center">Drop comments!</h3>
                        <p class="narrow text-center">
                            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                        </p>

                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="doner">
                        <div class="text-center">
                            <i class="img-intro icon-checkmark-circle"></i>
                        </div>
                        <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
                        <p class="narrow text-center">
                            Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</section>



</body>
</html>