{% extends "user_profile/teacher-base.html" %}
{#{% load order_tag %}#}
{#{% templatetag %}#}
{% load static %}

{% block title %}
 Welcome {{ user.first_name }}
{% endblock %}

{% block nav %}
    {{ user.first_name }}
{% endblock %}

{% block cre %}
{{ user.credit }}
{% endblock %}

{% block activeClass %}.pf{% endblock %}

{% block content %}
    <div class="container">
        <div class="">
            <h1>متن های تصحیح نشده</h1>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>tile</th>
                    <th>id</th>
                </tr>
            </thead>
            <tbody id="container">
                {% for item in writing %}
                    <tr class="id">
                        <td><a href="{% url 'corrector:score' item.id %}">{{ item.title }}</a></td>
                        <td class="tdid">{{ item.id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <script>
{#    var $tr = $("tr.id");#}
{#    $(document).ready(function () {#}
{#        var numericallyOrderedDivs = $tr.sort(function (a, b) {#}
{#        return $(a).find(".tdid") > $(b).find(".tdid");#}
{#    });#}
{#    $("#container").html(numericallyOrderedDivs);#}
{#    })#}
{#    #}
    
    </script>
    




{% endblock %}
