{% extends "user_profile/teacher-base.html" %}
{#{% load order_tag %}#}
{#{% templatetag %}#}
{% load static %}

{% block title %}
 Welcome {{ user.first_name }}
{% endblock %}

{% block nav %}
    {{ user.first_name }}
{% endblock %}

{% block cre %}
{{ rate }}
{% endblock %}

{% block activeClass %}.pf{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">


<h1>{{ income }}</h1>
{% for item in test %}
    <h2>{{ item.authorx }}</h2>
{% endfor %}
<br>
<br>
<br>

        <div class="row">
            <div class="col-lg-5 " style="border: 2px solid rgb(149,23,104); border-radius: 5px; height: 400px">
                <h1 class="text-center">متن های تصحیح نشده</h1>
                <p style="color: rgb(149,23,104)" class="text-center">چرا باید متن های رایگان تصحیح کنیم؟</p>
                <p class="rtl">پس از تصحیح کردن هر متن رایگان متن های آن شحص فقط برای شما می آید در واقع شما معلم مجازی او خواهید شد</p>
                <p class="rtl">پس با نهایت کفیت متن ها را تصحیح کنید</p>
                <table class="table table-fixed">
                <thead >
                <tr style="background-color: #2b542c">
                    <th class="col-xs-2 blue">#</th><th class="col-xs-8 blue">Title</th><th class="col-xs-2 blue">id</th>
                </tr>
                </thead>
                <tbody>
                {% for item in free %}
                <tr>
                    <td class="col-xs-2">{{ forloop.counter }}</td>
                    <td class="col-xs-8"><a href="{% url 'corrector:score' item.id %}">{{ item.title }}</a></td>
                    <td class="col-xs-2">{{ item.id }}</td>
                </tr>
                {% endfor %}
                <tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr>

                </tbody>
            </table>
            </div>
        <div class="col-lg-2"></div>
            <div class="col-lg-5" style="border: 2px solid rgb(149,23,104); border-radius: 5px; height: 400px" >
                <h1 class="text-center"> متن های پولی</h1>
                <br>
                <p>تصحیح هر متن در صورت دارا بودن کیفیت مطلوب 3000 تومان به اعتبار شما می افزاید</p>
                <br>

                <br>
                <table class="table table-fixed">
                <thead>
                <tr>
                    <th class="col-xs-2 red">#</th><th class="col-xs-8 red">Title</th><th class="col-xs-2 red">id</th>
                </tr>
                </thead>
                <tbody>
                {% for item in writing %}
                    <tr>
                        <td class="col-xs-2">{{ forloop.counter }}</td>
                        <td class="col-xs-8"><a href="{% url 'corrector:score' item.id %}">{{ item.title }}</a></td>
                        <td class="col-xs-2">{{ item.id }}</td>
                    </tr>
                {% endfor %}
                     <tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr><tr>
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-8">ad</a></td>
                        <td class="col-xs-2">fas</td>
                    </tr>
                </tbody>
            </table>

            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="row" >
                <h1>متن هایی که شما تصحیح کردید</h1>
                            <table class=" table table-fixed">
                <thead  >
                <tr >
                    <th class="col-xs-4 blue">#</th><th class="col-xs-8 blue">Title</th>
                </tr>
                </thead>
                <tbody>
                {% for item in all %}
                <tr>
                    <td class="col-xs-4">{{ forloop.counter }}</td>
                    <td class="col-xs-8"><a href="{% url 'corrector:score' item.id %}">{{ item.title }}</a></td>

                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
