{% extends "user_profile/home-base.html" %}
{% load static %}

{% block style %}
    <style>
    p{
        font-size: 18px;
        margin: 4rem;
    }
    </style>
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container-fluid">
    <div class="row" style=" background-color: rgb(149,23,104); color: white; ">
        <h1 style="direction: rtl; float:right; margin: 5rem ">{% block heading %}{% endblock %}</h1>
        <img data-anijs="if: scroll, on: window, do: zoomIn animated, before: $scrollReveal repeat" src="{% block image %}{% endblock %}" width="150px" style="float: left; margin-left: 10% ; padding: 2rem">
    </div>
    <br>
    <div class="row" style="direction: rtl; color: black;float: right" id="para1">
        {% block h21 %}{% endblock %}
    <div class="col-md-10 ">{% block matn1 %}{% endblock %}</div>
    <div class="col-md-2">{% block ax1 %}{% endblock %}</div>

    </div>

    <div class="row" style="direction: rtl; color: black;float: right" id="para2">
        {% block h22 %}{% endblock %}
    <div class="col-md-2">{% block ax2 %}{% endblock %}</div>
    <div class="col-md-10 ">{% block matn2 %}{% endblock %}</div>
    </div>

    <div class="row" style="direction: rtl; color: black;float: right" id="para3">
        {% block h23 %}{% endblock %}
    <div class="col-md-10">{% block matn3 %}{% endblock %}</div>
    <div class="col-md-2">{% block ax3 %}{% endblock %}</div>
    </div>
    <div class="row" style="direction: rtl; color: black;float: right" id="para4">
        {% block h24 %}{% endblock %}
    <div class="col-md-2">{% block ax4 %}{% endblock %}</div>
    <div class="col-md-10">{% block matn4 %}{% endblock %}</div>
    </div>

    <div class="row" style="direction: rtl; color: black;float: right" id="para5">
        {% block h25 %}{% endblock %}
    <div class="col-md-10">{% block matn5 %}{% endblock %}</div>
    <div class="col-md-2">{% block ax5 %}{% endblock %}</div>
    </div>

    </div>
    <br>
{% endblock %}