{% extends "user_profile/base.html" %}
{% load static %}
{% block nav %}
    {{ user.first_name }}
{% endblock %}
{% block title %}
{{ object.title }} by {{ object.author }}
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/js/mdb.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid">
    <h2 class="text-info">{{ object.title }} by {{ object.author }}</h2>

    <p>
        {{ object.text|safe }}
    </p>
    <br>
    <label>Score: {{ object.score }}</label>

    <table class="table table-striped" >
        <thead >
            <tr >
                <th ></th>
                <th >status</th>
                <th >sscore</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="label-success">Word Choice</td>
                <td>{{ object.wordchoice }}</td>
                <td>{{ object.wordchoicesc }}</td>
            </tr>
            <tr>
                <td class="label-danger">Organization and Development</td>
                <td>{{ object.oad }}</td>
                <td>{{ object.oadsc}}</td>
            </tr>
            <tr>
                <td class="label-default">Addressing Topic</td>
                <td>{{ object.adress }}</td>
                <td>{{ object.adresssc }}</td>
            </tr>
            <tr>
                <td class="label-info">Unity, Progression and Coherence</td>
                <td>{{ object.unity}}</td>
                <td>{{ object.unitysc }}</td>
            </tr>
            <tr>
                <td class="label-primary">Grammar</td>
                <td>{{ object.grammer }}</td>
                <td>{{ object.grammersc }}</td>
            </tr>
            <tr>
                <td class="label-warning">Vocabulary</td>
                <td>{{ object.vocab }}</td>
                <td>{{ object.vocabsc }}</td>
            </tr>
        </tbody>
    </table>

    <div style="height: 20rem">
        <canvas id="myChart"></canvas>
    </div>
</div>




<script>

$(function () {
    var option = {
    responsive: true,
    };

var data = [
    {
        value: {{ object.wordchoicesc }},
        color:"rgb(92, 184, 92)",
        highlight: "#FF5A5E",
        label: "Word Choice"
    },{
        value: {{ object.oadsc }},
        color:"rgb(217, 83, 79)",
        highlight: "#FF5A5E",
        label: "Organization and Development"
    },{
        value: {{ object.adresssc }},
        color:"rgb(119, 119, 119)",
        highlight: "#FF5A5E",
        label: "Addressing Topic"
    },{
        value: {{ object.unitysc }},
        color:"rgb(91, 192, 222)",
        highlight: "#FF5A5E",
        label: "Unity, Progression and Coherence"
    },
    {
        value: {{ object.grammersc }},
        color: "rgb(51, 122, 183)",
        highlight: "#5AD3D1",
        label: "Grammar"
    },
    {
        value: {{ object.vocabsc }},
        color: "rgb(240, 173, 78)",
        highlight: "#FFC870",
        label: "Vocabulary"
    }
]

    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext('2d');
    var myLineChart = new Chart(ctx).Pie(data, option); //'Line' defines type of the chart.
});

</script>
{% endblock %}