{% extends "user_profile/base.html" %}
{% load static %}

{% block title %}
    New Writing
{% endblock %}

{% block nav %}
    {{ request.user }}
{% endblock %}

{%  block head %}
    <script src="{% static 'user_profile/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'user_profile/word_counter.js' %}"></script>
{#    <script src="{% static 'user_profile/timerscript1.js' %}"></script>#}
    <script src="{% static 'user_profile/timerscript2.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
{%  endblock %}

{% block content %}
    <div class="container-fluid">
    <h3>Submit your new Writing to be corrected!</h3>
    <p>set time</p><input type="text" id="seconds" name="seconds" value="0" size="2" maxlength="3" /><input type="button" id="btnct" value="Input" />
        <br>
       <p> <span id="hspan">00</span> :
        <span id="minspan">00</span> :
<span id="secspan">00</span></p><input type="button" value="Start" onclick="countdown()">
<input type="button" value="Stop" onclick="cdpause()">
<input type="button" value="Reset" onclick="cdreset()">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        <label for="id_title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
        <input class="form-control" id="id_title" name="title" placeholder="Enter the title" >
        </div>
        </div>
        <textarea class="form-control col-sm-offset-1" rows="15" placeholder="Enter your text here..." id="id_text" name="text" ></textarea>
        <br>
        <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
        </div>
    </form>
    <div id="result">
    Words: <span id="wordCount">0</span><br/>
    </div>
</div>

    </div>
{% endblock %}
{% block activeClass %}.newwrt{% endblock %}
