{% extends "user_profile/base.html" %}
{% load static %}
{% block nav %}
    {{ user.first_name }}
{% endblock %}
{% block title %}
writing by {{ object.author }}
{% endblock %}

{% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/js/mdb.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css" rel="stylesheet">
    <script src="{% static 'user_profile/ratingheart-script.js' %}"></script>
    <style>
    .NFh{
        border: solid 2px black;
    }
    .banner{
        width: 500px;
        height: 200px;
        position: fixed;
        left: 1rem;
        bottom:30px;
        border:2px solid rgb(149,23,104);
        box-sizing: border-box;
        background-color: #f1f1f1;
        direction: rtl;


    }
    #hearts { font-size: 30px; color: #F4044F;}
    #hearts-existing { color: #87bad7;}
    </style>
{% endblock %}

{% block cre %}
    {{ user.credit2 }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-info">{{ object.title }} by {{ object.author }}</h2>

    <p style="border: 1px solid #f1f1f1">
        {{ object.text|safe }}
    </p>
    <br>
    {% if object.score == '0' %}

    <h1 class="text-center" style="color:rgb(149,23,104) ">این متن به زودی تصحیح می شود</h1>
    {% else %}
    <label>Score: {{ object.score }}</label>
<div id="result"></div>
    <table class="table table-striped" >
        <thead >
            <tr >
                <th ></th>
                <th >status</th>
                <th >score</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="label-success">Word Choice</td>
                <td>{{ object.wordchoice }}</td>
                <td>{{ object.wordchoicesc }}</td>
            </tr>
            <tr>
                <td class="label-danger">Organization and Development</td>
                <td>{{ object.oad }}</td>
                <td>{{ object.oadsc}}</td>
            </tr>
            <tr>
                <td class="label-default">Addressing Topic</td>
                <td>{{ object.adress }}</td>
                <td>{{ object.adresssc }}</td>
            </tr>
            <tr>
                <td class="label-info">Unity, Progression and Coherence</td>
                <td>{{ object.unity}}</td>
                <td>{{ object.unitysc }}</td>
            </tr>
            <tr>
                <td class="label-primary">Grammar</td>
                <td>{{ object.grammer }}</td>
                <td>{{ object.grammersc }}</td>
            </tr>
            <tr>
                <td class="label-warning">Vocabulary</td>
                <td>{{ object.vocab }}</td>
                <td>{{ object.vocabsc }}</td>
            </tr>
            <tr>
                <td class="label-default">نظر مشاور</td>
                <td>{{ object.moshaver }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
        {% if form %}
        <div class="banner text-center">
        <br>

        <h4>به تصحیح من چند امتیاز میدی؟؟</h4>
         <div class="row lead"style="margin-bottom: 0">
        <div id="hearts" class="starrr" style="direction: ltr"></div>
             <p> <span id="count">0</span> از 5</p>
          </div>

<form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
        <input id="id_rate" maxlength="100" name="rate" type="hidden">
        <button class="btn btn-lg btn-primary" type="submit" style="background-color: rgb(149,23,104); width: 100px; height: 30px; padding: 0">ارسال</button>



</form>
    {% endif %}
        <br>
        </div>
    <div style="height: 50rem">
        <canvas id="myChart" height="50rem"></canvas>
    </div>
</div>
    {% endif %}




{#chart script#}
<script>

$(function () {
    var option = {
    responsive: true,
    };

var data = [
    {
        value: {{ object.wordchoicesc }},
        color:"rgb(92, 184, 92)",
        highlight: "#FF5A5E",
        label: "Word Choice"
    },{
        value: {{ object.oadsc }},
        color:"rgb(217, 83, 79)",
        highlight: "#FF5A5E",
        label: "Organization and Development"
    },{
        value: {{ object.adresssc }},
        color:"rgb(119, 119, 119)",
        highlight: "#FF5A5E",
        label: "Addressing Topic"
    },{
        value: {{ object.unitysc }},
        color:"rgb(91, 192, 222)",
        highlight: "#FF5A5E",
        label: "Unity, Progression and Coherence"
    },
    {
        value: {{ object.grammersc }},
        color: "rgb(51, 122, 183)",
        highlight: "#FF5A5E",
        label: "Grammar"
    },
    {
        value: {{ object.vocabsc }},
        color: "rgb(240, 173, 78)",
        highlight: "#FF5A5E",
        label: "Vocabulary"
    }
]

    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext('2d');
    var myLineChart = new Chart(ctx).Pie(data, option); //'Line' defines type of the chart.
});



    $(document).ready(function(){
    $("span").hover(function(){
        $(this).attr('data-toggle','tooltip');
        var color = $( this ).css( "background-color" );
        if ($(this).css('background-color') == 'rgb(255, 0, 0)'){
            $(this).attr('title','word choice');
            $( "#result" ).html( "You have a <span style='color:" +
    color + ";'>" + "word choice" + "</span> problem here." );
        }
        else if ($(this).css('background-color') == 'rgb(0, 128, 0)'){
            $(this).attr('title','vocabulary');
            $( "#result" ).html( "You have a <span style='color:" +
    color + ";'>" + "vocabulary" + "</span> problem here." );
        }
        else if ($(this).css('background-color') == 'rgb(153, 51, 0)'){
            $(this).attr('title','grammar');
            $( "#result" ).html( "You have a <span style='color:" +
    color + ";'>" + "grammar" + "</span> problem here." );
        }
        else if ($(this).css('background-color') == 'rgb(0, 204, 255)'){
            $(this).attr('title','organization');
            $( "#result" ).html( "You have a <span style='color:" +
    color + ";'>" + "organization" + "</span> problem here." );
        }

    });
     $("span").mouseout(function(){
        $("#result").html("");
    });
     $('body').tooltip({
        selector: '[data-toggle="tooltip"]'
    });
});



{#    rating heart scrip#}





</script>
{% endblock %}