*{
    font-family:'B yekan',tahoma;
    font-size:14px;
}

.btn-outline-inverse{
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: rgb(149,23,104);
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

body { padding-top: 60px; }
.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: rgb(149,23,104);
    border-radius: 15px;
    color: #fff;
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px rgb(149,23,104); }
.nav.nav-justified > li > a > img {
    max-width: 100%;
    width: 120px;
    height: 120px;
    opacity: .3;
    -webkit-transform: scale(.8,.8);
    transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }
}

body{
    padding-top:50px;
    background: #fff;
}
.flip {
    -webkit-perspective: 800;
    perspective: 800;

    position: relative;
    text-align: center;
}
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {

    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
}
.flip .card .front {
    position: absolute;
    width: 100%;
    z-index: 1;

}
.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.well{
    height: 15rem;
    border-radius: 15px;
    color: #ffffff;

}
.inner{margin:0px !important;
background-color: rgb(149,23,104);
}
#green{
   /*background-color: rgb(34, 194, 34)*/
background-color: white;
   border: 3px solid rgb(149,23,104);color: black;
}
#yellow{
       /*background-color: #febe29*/
background-color: white;
   border: 3px solid rgb(149,23,104);color: black;
}
#blue{
       /*background-color: #3e5e9a*/
background-color: white;
   border: 3px solid rgb(149,23,104);color: black;
}
#red{
       /*background-color: #f1685e*/
background-color: white;
   border: 3px solid rgb(149,23,104);color: black;
}
.outer{
    background-color: rgb(149,23,104);
}


/*----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.btn-pink{
    background-color: rgb(149,23,104);
    color: white;
}
.btn-pink:hover{
    background-color:white;
    color: rgb(149,23,104)
}



/*typed style*/
.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        /*@-keyframes blink{*/
            /*0% { opacity:1; }*/
            /*50% { opacity:0; }*/
            /*100% { opacity:1; }*/
        /*}*/
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }



        /*pagedown*/

.totop {
  height:51px;
  width:51px;
  position:relative;
  margin:50px auto;
  cursor: pointer;
}

.arrow:before , .arrow:after{
  content:"";
  width:24px;
  height:2px;
  background-color:#999;
  position:absolute;
  bottom:0px;
  left:0;
  -webkit-transform-origin:23px 1px;
  -webkit-transition:all 150ms;
}

.arrow:before{
  -webkit-transform:rotateZ(135deg)
}
.arrow:after{
  -webkit-transform:rotateZ(45deg)
}

.spani{
  height:0;
  width:2px;
  display:block;
  background-color:#999;
  position:absolute;
  left:22px;
  -webkit-transition:all 0.3s ease;
  opacity:0;
  bottom:0
}
.totop:hover .arrow span{
  opacity:1;
  height:50px;
}
.totop:hover .arrow:before ,.totop:hover .arrow:after{
  bottom:0;
}